{% extends 'main.html' %}
{% block content %}
{% load static %}
{% load permission_tags %}


<link rel="stylesheet" type="text/css" href="{% static 'css/configucacao/configucacao.css' %}"> 
<script src="{% static 'javascript/CONFIGURACAO/main.js' %}" defer></script>


<div id="overlay" class="loading">
    
    <div class="conteudo-carregando">
      <img src="{% static 'imagens/loading.gif' %}" alt="">
      <p style="color: white">Carregando...</p>
    </div>

  </div>

<div class="CONTEUDO__PADRAO">  
  
    <h1>CONFIGURAÇÕES</h1>

    <button type="button" class="BOTAO BTN_ATUALIZAR_DESCARGA" onclick="ATUALIZAR_DESCARGA()">
        ATUALIZAR DESCARGA
    </button>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {% if user|can:'editar_itens' %}     
    <section>
        <h2  id="SECAO_DESCARGAS_ATIVAS"    class="SECAO_CONFIGURACAO">Descargas Ativas</h2>
        <div id="CONTEUDO_DESCARGAS_ATIVAS" class="CONTEUDO_CONFIGURACAO">
                
            {% for PRODUTO, CONTEUDO in terminais_ativos.DESCARGAS_ATIVAS.items %}
                
                <h3>{{PRODUTO}}</h3>
                <table id="DESCARGAS_ATIVAS.csv" class="TABELA_DESCARGAS_ATIVAS">

                    <thead>
                        <th></th>
                        <th>RUMO</th>
                        <th>MRS</th>
                        <th>VLI</th>
                    </thead>

                    <tbody>

                        {% for terminal, item in CONTEUDO.items %} 
                        <tr>
                            <th>{{ terminal }}</th>
                            <td name="DESCARGAS_ATIVAS" class="EDITAVEL" headers="RUMO_{{ PRODUTO }}" id="{{ terminal }}">{{ item.RUMO }}</td>
                            <td name="DESCARGAS_ATIVAS" class="EDITAVEL" headers="MRS_{{  PRODUTO }}" id="{{ terminal }}">{{ item.MRS  }}</td>
                            <td name="DESCARGAS_ATIVAS" class="EDITAVEL" headers="VLI_{{  PRODUTO }}" id="{{ terminal }}">{{ item.VLI  }}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>    
                
            
                <br>
            
            {% endfor %}
        </div>
    </section>
    {% endif %}

    {% if user|can:'editar_subida' %}    
    <section>
        <h2  id="SECAO_SUBIDAS_ATIVAS"    class="SECAO_CONFIGURACAO">Subidas Ativas</h2>
        <div id="CONTEUDO_SUBIDAS_ATIVAS" class="CONTEUDO_CONFIGURACAO">

            <table id="DESCARGAS_ATIVAS.csv" class="TABELA_DESCARGAS_ATIVAS">
                <thead>
                    <th></th>
                    <th>RUMO</th>
                    <th>MRS</th>
                    <th>VLI</th>
                </thead>
                <tbody>

                    {% for TERMINAL, CONTEUDO in terminais_ativos.SUBIDAS_ATIVAS.items %}
                    <tr>
                            
                        <th >{{ TERMINAL }}</th>
                        <td name="SUBIDAS_ATIVAS" class="EDITAVEL" data-ferrovia= "RUMO" data-terminal="{{ TERMINAL }}">{{ CONTEUDO.RUMO }}</td>
                        <td name="SUBIDAS_ATIVAS" class="EDITAVEL" data-ferrovia= "MRS"  data-terminal="{{ TERMINAL }}">{{ CONTEUDO.MRS  }}</td>
                        <td name="SUBIDAS_ATIVAS" class="EDITAVEL" data-ferrovia= "VLI"  data-terminal="{{ TERMINAL }}">{{ CONTEUDO.VLI  }}</td>
                        
                    </tr>
                    {% endfor %}

                </tbody>
            </table>                   

        </div>
    </section>
    {% endif %}

    <section>
        <h2  id="SECAO_INSERIR_PREVISAO"    class="SECAO_CONFIGURACAO">Inserir Previsao</h2>
        <div id="CONTEUDO_INSERIR_PREVISAO" class="CONTEUDO_CONFIGURACAO">
            <h1>Upload de arquivo CSV</h1>
            <form method="post" enctype="multipart/form-data" action="{% url 'upload_file' %}">
                {% csrf_token %}
                {{ FORM_CSV.as_p }}
                <button type="submit">Upload</button>
            </form>
        </div>
    </section>

    {% if user|can:'editar_itens' %}   
    <section>
        <h2  id="SECAO_EDITAR_PXO"    class="SECAO_CONFIGURACAO">Editar PxO</h2>
        <div id="CONTEUDO_EDITAR_PXO" class="CONTEUDO_CONFIGURACAO">
            <h1>Editar PxO</h1>
            
            <table id="TERMINAIS" class="TABELA__PXO">

                <thead>
                    
                    <th>        </th>
                    <th>PROD.   </th>
                    <th>OCIO.    </th>

                </thead>

                <tbody>

                    {% for TERMINAL, CONTEUDO_TERMINAL in terminais_ativos.TERMINAIS.items %} 
                    <tr>
                        <th>{{ TERMINAL }}</th>
                        <td name="PXO" class="EDITAVEL" headers="PRODUTIVIDADE" id="{{ TERMINAL }}">{{ CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE }}   </td>
                        <td name="PXO" class="EDITAVEL" headers="OCIOSIDADE"    id="{{ TERMINAL }}">{{ CONTEUDO_TERMINAL.PXO.OCIOSIDADE  }}     </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>    

        </div>
    </section>
    {% endif %}

    <section>

        <h2  id="SECAO_DOWNLOADS"    class="SECAO_CONFIGURACAO">Downloads</h2>
        <div id="CONTEUDO_DOWNLOADS" class="CONTEUDO_CONFIGURACAO">

            <h1>DOWNLOADS</h1>

            <p>Clique no botão abaixo para baixar uma versão do sistema em planilha Excel.</p>
            <button class="BOTAO VERDE" type="submit" onclick="BAIXAR_PLANILHA()">Baixar Planilha</button>

            <p>Clique no botão abaixo para baixar o relatório DETALHE em Excel.</p> 
            <button class="BOTAO VERDE" type="submit" onclick="BAIXAR_DETALHE()">Baixar Detalhe</button>

        </div>
    </section>

    <section>

        <h2  id="SECAO_INTEGRACAO"    class="SECAO_CONFIGURACAO">Integração entre Planners</h2>
        <div id="CONTEUDO_INTEGRACAO" class="CONTEUDO_CONFIGURACAO">

            <h1>INTEGRAÇÕES</h1>

            <p>Para baixar os dados do Planner Web, pressione o botão abaixo.</p>
            <a class="BOTAO VERDE" href="{% url 'baixar_integracao' %}">Baixar Dados</a>    

            <p>Insira abaixo o arquivo gerado pelo Planner Desktop.</p>
            
            <form method="post" enctype="multipart/form-data" action="{% url 'configuracao' %}">
                
                <input type="hidden" name="ACAO" value="INSERIR_DADOS_OFFLINE">
                    {% csrf_token %}
                    {{ FORM_CSV.as_p }}
                <button type="submit">Upload</button>

            </form>

        </div>
    </section>

</div>

<script>

document.body.addEventListener('keypress', function(e) {
        
    if ((editando_celula === true) && (e.which === 13) && (ACAO === "DESCARGAS_ATIVAS")){

        NOVO_VALOR = tbEdicao.value

        $.ajax({
            url: "{% url 'configuracao' %}",
            type: 'POST',
            data: {
                'novo_valor':   Number(NOVO_VALOR),
                'coluna':       celula_selecionada.getAttribute("headers"),
                'linha':        celula_selecionada.id,
                'tabela':       tbEdicao.parentNode.parentNode.parentNode.parentNode.id,
                'ACAO':         "DESCARGAS_ATIVAS",
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            },
            success: function(response) {

                elementoTransformado.voltar_ao_nomral();
                celula_selecionada.textContent = response;
                editando_celula = false;
            },
            error: function(xhr) {
                alert("ERRO")
            }
        });

    }
    
    if ((editando_celula === true) && (e.which === 13) && (ACAO === "SUBIDAS_ATIVAS")){

        NOVO_VALOR = tbEdicao.value

        $.ajax({
            url: "{% url 'configuracao' %}",
            type: 'POST',
            data: {

                'NOVO_VALOR':   NOVO_VALOR,
                'FERROVIA'  :   FERROVIA,
                'TERMINAL'  :   TERMINAL,
                'ACAO'      :   "SUBIDAS_ATIVAS",
                'csrfmiddlewaretoken': "{{ csrf_token }}"

            },
            success: function(response) {

                elementoTransformado.voltar_ao_nomral();
                celula_selecionada.textContent = response;
                editando_celula = false;
            },
            error: function(xhr) {
                alert("ERRO")
            }
        });
    }
    
    if ((editando_celula === true) && (e.which === 13) && (ACAO === "PXO")){

        NOVO_VALOR = tbEdicao.value

        $.ajax({
            url: "{% url 'configuracao' %}",
            type: 'POST',
            data: {
                'NOVO_VALOR':   Number(NOVO_VALOR),
                'TIPO':       TIPO_PXO,
                'TERMINAL':   TERMINAL,
                'ACAO': "PXO",
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            },
            success: function(response) {

                elementoTransformado.voltar_ao_nomral();
                celula_selecionada.textContent = response;
                editando_celula = false;
            },
            error: function(xhr) {
                alert("ERRO")
            }
        });

    }
});

function ATUALIZAR_DESCARGA(){

    $.ajax({
    url: "{% url 'configuracao' %}",
    type: 'POST',
    data: {
        'ACAO': "ATUALIZAR_DESCARGA",
        'csrfmiddlewaretoken': "{{ csrf_token }}"
    },
        success:  function(response)  {alert("FOI")},
        error:    function(xhr)       {alert("ERR")}
    });

}

function BAIXAR_PLANILHA(){
    
    var overlay = document.getElementById('overlay');

    overlay.style.display = 'block';
    $.ajax({
    url: "{% url 'configuracao' %}",
    type: 'GET',
    data: {
        'ACAO': "BAIXAR_PLANILHA",
        'csrfmiddlewaretoken': "{{ csrf_token }}"
    },
    success:  function(response)  {

        fetch("{% static 'downloads/PLANILHA_DESCARGA.xlsm' %}")
        .then(response => response.blob())
        .then(blob => {
            
            const url = window.URL.createObjectURL(blob);
            const a   = document.createElement('a');
            
            a.href = url;
            a.download = 'PLANILHA_DESCARGA.xlsm';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);

        })
        .catch(error => console.error('Erro no download:', error));
        overlay.style.display = 'none';
    },
    error:function(xhr) 
        {alert("ERR")}
    });
}

function BAIXAR_DETALHE(){
    
    var overlay = document.getElementById('overlay');

    overlay.style.display = 'block';
    $.ajax({
    url: "{% url 'configuracao' %}",
    type: 'GET',
    data: {
        'ACAO': "BAIXAR_DETALHE",
        'csrfmiddlewaretoken': "{{ csrf_token }}"
    },
    success:  function(response)  {

        fetch("{% static 'downloads/RELATORIO_DETALHE.xlsx' %}")
        .then(response => response.blob())
        .then(blob => {
            
            const url = window.URL.createObjectURL(blob);
            const a   = document.createElement('a');
            
            a.href = url;
            a.download = 'RELATORIO_DETALHE.xlsx';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);

        })
        .catch(error => console.error('Erro no download:', error));
        overlay.style.display = 'none';
    },
    error:function(xhr) 
        {alert("ERR")}
    });
}

function BAIXAR_INTEGRACAO_PARA_OFFLINE(){

    var overlay = document.getElementById('overlay');

    overlay.style.display = 'block';
    $.ajax({
    url: "{% url 'configuracao' %}",
    type: 'GET',
    data: {
        'ACAO'                  : "GERAR_DADOS_OFFLINE",
        'csrfmiddlewaretoken'   : "{{ csrf_token }}"
    },
    success:  function(response)  {

        var fileUrl = response.file_url;
        
        alert(fileUrl)
        fetch(fileUrl)
        .then(response => response.blob())
        .then(blob => {
            
            const url   = window.URL.createObjectURL(blob);
            const a     = document.createElement('a');
            
            a.href      = url;
            a.download  = 'DADOS_ONLINE.json';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);

        })
        .catch(error => console.error('Erro no download:', error));
        overlay.style.display = 'none';
    },
    error:function(xhr) 
        {alert("ERR")}
    });

}

</script>

{% endblock %}