{% extends 'main.html' %}
{% block content %}
{% load static %}



<link rel="stylesheet" type="text/css" href="{% static 'css/configucacao/configucacao.css' %}"> 
<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>


<script src="{% static 'javascript/CONFIGURACAO/main.js' %}" defer></script>



<div class="CONTEUDO__PADRAO">  
  
    <h1>CONFIGURAÇÕES</h1>

    



    <button type="button" class="BOTAO BTN_ATUALIZAR_DESCARGA" onclick="ATUALIZAR_DESCARGA()">
        ATUALIZAR DESCARGA
    </button>
    {% comment %} onclick="location.href='{% url 'criar_modulo' %}'" {% endcomment %}

    <section>
        <h2  id="SECAO_DESCARGAS_ATIVAS"    class="SECAO_CONFIGURACAO">Descargas Ativas</h2>
        <div id="CONTEUDO_DESCARGAS_ATIVAS" class="CONTEUDO_CONFIGURACAO">
                
            {% for PRODUTO, CONTEUDO in terminais_ativos.items %}
                
                <h3>{{PRODUTO}}</h3>
                <table id="DESCARGAS_ATIVAS.csv" class="TABELA_DESCARGAS_ATIVAS">
                    <thead>
                        <th></th>
                        <th>RUMO</th>
                        <th>MRS</th>
                        <th>VLI</th>
                    </thead>
                    <tbody>
                        {% for terminal, item in CONTEUDO.items %} 
                        <tr>
                            
                            <th >{{ terminal }}</th>
                            <td class="EDITAVEL" headers = "RUMO_{{ PRODUTO }}" id="{{ terminal }}">{{ item.RUMO }}</td>
                            <td class="EDITAVEL" headers = "MRS_{{  PRODUTO }}" id="{{ terminal }}">{{ item.MRS  }}</td>
                            <td class="EDITAVEL" headers = "VLI_{{  PRODUTO }}" id="{{ terminal }}">{{ item.VLI  }}</td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>    
                
            
                <br>
            
            {% endfor %}
        </div>
    </section>


  


</div>

<script>
    
    document.body.addEventListener('keypress', function(e) {
            
        if ((editando_celula === true) && (e.which === 13)){

            NOVO_VALOR = tbEdicao.value

        $.ajax({
            url: '/configuracao/',
            type: 'POST',
            data: {
                'novo_valor':   Number(NOVO_VALOR),
                'coluna':       celula_selecionada.getAttribute("headers"),
                'linha':        celula_selecionada.id,
                'tabela':       tbEdicao.parentNode.parentNode.parentNode.parentNode.id,
                'ACAO': "EDITAR_CONFIGURACAO",
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            },
            success: function(response) {

                elementoTransformado.voltar_ao_nomral();
                celula_selecionada.textContent = response;
                editando_celula = false;
            },
            error: function(xhr) {
                alert("ERRO")
            }
        });
    }
});

function ATUALIZAR_DESCARGA(){

    $.ajax({
      url: '/configuracao/',
      type: 'POST',
      data: {
          'ACAO': "ATUALIZAR_DESCARGA",
          'csrfmiddlewaretoken': "{{ csrf_token }}"
      },
      success: function(response) {
        alert("FOI")
      },
      error: function(xhr) {
          alert("ERRO")
      }
  });
  
  }

</script>

{% endblock %}