{% extends 'main.html' %}
{% block content %}
{% load static %}
{% load permission_tags %}

{% if user|can:'editar_itens' %}

    <script src="{% static 'javascript/NAVEGACAO/EDITAR_PRODUTIVIDADE.js' %}"   defer></script>
    <script src="{% static 'javascript/NAVEGACAO/ATUALIZAR_DESCARGA.js' %}"     defer></script>
    
{% endif %}

<script src="{% static 'javascript/NAVEGACAO/CALCULADORA.js' %}"            defer></script>

<div id="conteudo__navegacao" class="conteudo__navegacao">  
  
    <link rel="stylesheet" type="text/css" href="{% static 'css/navegacao/navegacao.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/navegacao/tabela_descarga.css' %}"> 

    {% if form.errors %}
        <p class="mensagem__erro">Usuário e senha incorretos, tente novamente.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p class="mensagem__erro" >Sua conta não tem acesso a esta página. Para prosseguir,
            faça login com uma conta que tenha acesso.</p>
        {% else %}
            <p class="mensagem__erro">Faça login para ver esta página.</p>
        
        {% endif %}
    {% endif %}

    <!--#region uma tabela de descarga-->
    {% if CONTEUDO_NAVEGACAO %}            
        
        <div class="header__navegacao">
        </div>

        {% for DIA, DADOS in CONTEUDO_NAVEGACAO.items %}
                
        <div class="um__dia">      
            
            <div class="uma__margem"> 

                <table class="tabela__margens">
                    
                    <tr>
                        <th rowspan="3" class="margens_aux_1">RUMO</th>
                        <th rowspan="3" class="margens_aux_2">.</th>

                        <td class="COL_01">MARG.</td>
                        <td>01h</td>
                        <td>02h</td>
                        <td>03h</td>    
                        <td>04h</td>
                        <td>05h</td>
                        <td>06h</td>
                        <td>07h</td>
                        <td>08h</td>
                        <td>09h</td>  
                        <td>10h</td>
                        <td>11h</td>
                        <td>12h</td>
                        <td>13h</td>
                        <td>14h</td>
                        <td>15h</td>
                        <td>16h</td>  
                        <td>17h</td>
                        <td>18h</td>
                        <td>19h</td>
                        <td>20h</td> 
                        <td>21h</td>
                        <td>22h</td>
                        <td>23h</td>
                        <td>24h</td>  
                    </tr>

                    <tr>
                        <td>DIR.</td>
                        {% for CHEGADA_PREFIXO in DADOS.MARGENS.DIREITA %}
                        <td>
                            {% if CHEGADA_PREFIXO != 0%}
                                {{ CHEGADA_PREFIXO|slice:":3" }}
                            {% endif%}
                        </td>
                        {% endfor %}
                    </tr> 

                    <tr>
                        <td>ESQ.</td>
                        {% for CHEGADA_PREFIXO in DADOS.MARGENS.ESQUERDA %}
                        <td>
                            {% if CHEGADA_PREFIXO != 0%}
                                {{ CHEGADA_PREFIXO|slice:":3" }}
                            {% endif%}
                        </td>
                        {% endfor %}
                        
                    </tr> 

                </table>

            </div>
            
            {% for DESCARGA in DADOS.DESCARGAS %}
            

            <div class="uma__descarga">
                
                <table class="tabela__descarga" id="{{DESCARGA.TERMINAL}}_{{DESCARGA.DATA}}">
                    
                    <input type="hidden" id="DESCARGAS_ATIVAS" value="{{ DESCARGA.DESCARGAS_ATIVAS }}">

                    <tr class="LINHA_TITULOS">

                        <td rowspan=5 colspan=2 class="NOME_TERMINAL">{{ DESCARGA.TERMINAL }}</td>
                        <td rowspan=2 class="DIA_TERMINAL">{{ DIA }}</td>

                        <td colspan=6 class="PERIODO_TERMINAL">01h - 07h</td>
                        <td colspan=6 class="PERIODO_TERMINAL">07h - 13h</td>
                        <td colspan=6 class="PERIODO_TERMINAL">13h - 19h</td>
                        <td colspan=6 class="PERIODO_TERMINAL">19h - 01h</td>

                        <td rowspan=3 colspan=2 class="TITLO_TOTAIS">TOTAIS</td>

                    </tr> 
                
                    <tr class="LINHA_HORAS">  

                        <td>01h</td>
                        <td>02h</td>
                        <td>03h</td>  
                        <td>04h</td>
                        <td>05h</td>
                        <td>06h</td>
                        <td>07h</td>
                        <td>08h</td>
                        <td>09h</td>  
                        <td>10h</td>
                        <td>11h</td>
                        <td>12h</td>
                        <td>13h</td>
                        <td>14h</td>
                        <td>15h</td>
                        <td>16h</td>  
                        <td>17h</td>
                        <td>18h</td>
                        <td>19h</td>
                        <td>20h</td> 
                        <td>21h</td>
                        <td>22h</td>
                        <td>23h</td>
                        <td>24h</td>  

                    </tr> 

                    <tr class="LINHA_SALDO">
                        <td>Saldo</td>
                        {% for CHEGADA_PREFIXO in DESCARGA.PREFIXO %}
                            <td>
                                {% if CHEGADA_PREFIXO.0 != 0%}
                                {% with palavra=CHEGADA_PREFIXO.0 %}
                                    {{ palavra|slice:":3" }}
                                {% endwith %}

                                {% endif%}
                            </td>
                        {% endfor %}
                    </tr> 
                    
                    <tr class="LINHA_CHEGADA">
                        <td>Chegada</td>
                        {% for CHEGADA in DESCARGA.CHEGADA %}
                        <td>
                            {% if CHEGADA.0 != 0%}
                                {{ CHEGADA.0 }}
                            {% endif%}
                        </td>
                        {% endfor %}

                        <td>Ofrt.</td><td>Pdra</td>
                    </tr>  

                    <tr class="LINHA_PEDRA">

                        <td>Pedra</td>

                        {% for PEDRA in DESCARGA.PEDRA %}

                        <td headers="{{ forloop.counter0 }}" name="LINHA_PEDRA">
                            {% if PEDRA != 0%}
                                {{ PEDRA }}
                            {% endif%}
                        </td>

                        {% endfor %}

                        <td id="TOTAL_SALDO">{{ DESCARGA.INDICADORES.TOTAL_SALDO }}</td><td id="TOTAL_PEDRA">{{ DESCARGA.INDICADORES.TOTAL_PEDRA }}</td>
                    </tr>  
    
                    {% for FERROVIA, PRODUTO in DESCARGA.DESCARGAS.items %}
                    
                        {%for PRODUTOS, LINHAS in PRODUTO.items %}
                                
                                <tr class="LINHA_ENCOSTE">

                                    <td class="FERROVIA_{{FERROVIA}}" rowspan=3>{{FERROVIA}}</td>
                                    <td rowspan=2 class="PRODUTO">

                                        {% if PRODUTOS == "CELULOSE"%}
                                            CEL.
                                        {% else %}
                                            {% if PRODUTOS == "CONTEINER"%}
                                                CONT.
                                            {% else %}
                                                {{PRODUTOS}}
                                            {% endif%}
                                        {% endif%}

                                    </td>
                                    <td >Saldo</td>

                                    {% for ENCOSTE in LINHAS.ENCOSTE %}
                                
                                        <td style="font-weight: bold;">
                                            {% if ENCOSTE.0 != 0 %}
                                                {{ ENCOSTE.0 }}
                                            {% endif %}
                                        </td>

                                    {% endfor %}
                                    <td colspan="2" class="TITULO_CHEGADA_{{FERROVIA}}">Chegada</td>
                                </tr>

                                <tr class="LINHA_SALDO_DESCARGA">
                                    <td data-ferrovia="{{ FERROVIA }}" data-produto="{{ PRODUTOS }}" headers="SALDO_VIRADA" name="SALDO_DE_VIRADA_{{DIA}}">{{ LINHAS.INDICADORES.SALDO_DE_VIRADA }}</td>
                                    
                                    {% for SALDO in LINHAS.SALDO %}
                                    <td data-ferrovia="{{ FERROVIA }}" data-produto="{{ PRODUTOS }}" headers="{{ forloop.counter0 }}" name="SALDO">
                                        {% if SALDO != 0%}
                                            {{ SALDO }}
                                        {% endif%}
                                    </td>
                                    {% endfor %}
                                    
                                    <td colspan="2" class="VALOR_ENCOSTE_{{FERROVIA}}">{{LINHAS.INDICADORES.TOTAL_CHEGADA}}</td>

                                </tr>
                                
                                <tr name="LINHA_PRODUTIVIDADE" class="LINHA_PRODUTIVIDADE_{{FERROVIA}}">
                                    
                                    <td class="PRODUTIVIDADE_PADRAO_{{FERROVIA}}" data-ferrovia="{{ FERROVIA }}" data-produto="{{ PRODUTOS }}" name="EDITAR_CONSTANTE_PRODUTIVIDADE">{{ LINHAS.INDICADORES.PRODUTIVIDADE }}</td>
                                    <td id="{{ PRODUTOS }}_{{ FERROVIA }}"></td>

                                    {% for PRODUTIVIDADE in LINHAS.PRODUTIVIDADE %}

                                        <td data-ferrovia="{{ FERROVIA }}" data-produto="{{ PRODUTOS }}" headers="{{ forloop.counter0 }}" class="PRODUTIVIDADE_{{FERROVIA}}" name="PRODUTIVIDADE">
                                            {% if PRODUTIVIDADE != 0%}
                                                {{ PRODUTIVIDADE }}
                                            {% endif%}
                                        </td>

                                    {% endfor %}
                                    <td ><div class="SETA_PRODUTIVIDADE_{{FERROVIA}}" >➔</div></td><td name="TOTAL_PRODUTIVIDADE" data-ferrovia="{{ FERROVIA }}" data-produto="{{ PRODUTOS }}" class="VALOR_PRODUTIVIDADE_{{FERROVIA}}">{{LINHAS.INDICADORES.TOTAL_PRODUTIVIDADE}}</td>       
                                </tr>

                                <!-- <tr>
                                    
                                    <td colspan="3" style="border: 1px black solid">FILA</td>
                                    

                                    {% for PRODUTIVIDADE in LINHAS.FILA %}

                                        <td style="border: 1px black solid" >
                                            {% if PRODUTIVIDADE != 0%}
                                                {{ PRODUTIVIDADE }}
                                            {% endif%}
                                        </td>

                                    {% endfor %}
                                        
                                </tr>

                                <tr>
                                    
                                    <td colspan="3" style="border: 1px black solid">OCUPACAO</td>
                                    
                                    {% for PRODUTIVIDADE in LINHAS.OCUPACAO %}

                                        <td style="border: 1px black solid" >
                                            {% if PRODUTIVIDADE != 0%}
                                                {{ PRODUTIVIDADE }}
                                            {% endif%}
                                        </td>

                                    {% endfor %}
                                        
                                </tr> -->
                        
                        {% endfor %}
    
                    {% endfor %}
                    
                    <tr class="LINHAS_TOTAIS_PEDRAS">

                        <td colspan="5"></td>
                        <td class="TOTAL_FERROVIA_RUMO" data-periodo="1">   {{ DESCARGA.INDICADORES.PEDRAS.RUMO.P1  }}</td>
                        <td class="TOTAL_FERROVIA_MRS"  data-periodo="1">   {{ DESCARGA.INDICADORES.PEDRAS.MRS.P1   }}</td>
                        <td class="TOTAL_FERROVIA_VLI"  data-periodo="1">   {{ DESCARGA.INDICADORES.PEDRAS.VLI.P1   }}</td>
                        <td class="TITLO_TOTAIS"        data-periodo="1">   {{ DESCARGA.INDICADORES.PEDRAS.TOTAL.P1 }}</td>

                        <td  colspan="2"></td>
                        <td class="TOTAL_FERROVIA_RUMO" data-periodo="2">   {{ DESCARGA.INDICADORES.PEDRAS.RUMO.P2  }}</td>
                        <td class="TOTAL_FERROVIA_MRS"  data-periodo="2">   {{ DESCARGA.INDICADORES.PEDRAS.MRS.P2   }}</td>
                        <td class="TOTAL_FERROVIA_VLI"  data-periodo="2">   {{ DESCARGA.INDICADORES.PEDRAS.VLI.P2   }}</td>
                        <td class="TITLO_TOTAIS"        data-periodo="2">   {{ DESCARGA.INDICADORES.PEDRAS.TOTAL.P2 }}</td>

                        <td  colspan="2"></td>
                        <td class="TOTAL_FERROVIA_RUMO" data-periodo="3">   {{ DESCARGA.INDICADORES.PEDRAS.RUMO.P3  }}</td>
                        <td class="TOTAL_FERROVIA_MRS"  data-periodo="3">   {{ DESCARGA.INDICADORES.PEDRAS.MRS.P3   }}</td>
                        <td class="TOTAL_FERROVIA_VLI"  data-periodo="3">   {{ DESCARGA.INDICADORES.PEDRAS.VLI.P3   }}</td>
                        <td class="TITLO_TOTAIS"        data-periodo="3">   {{ DESCARGA.INDICADORES.PEDRAS.TOTAL.P3 }}</td>

                        <td  colspan="2"></td>
                        <td class="TOTAL_FERROVIA_RUMO" data-periodo="4">   {{ DESCARGA.INDICADORES.PEDRAS.RUMO.P4  }}</td>
                        <td class="TOTAL_FERROVIA_MRS"  data-periodo="4">   {{ DESCARGA.INDICADORES.PEDRAS.MRS.P4   }}</td>
                        <td class="TOTAL_FERROVIA_VLI"  data-periodo="4">   {{ DESCARGA.INDICADORES.PEDRAS.VLI.P4   }}</td>
                        <td class="TITLO_TOTAIS"        data-periodo="4">   {{ DESCARGA.INDICADORES.PEDRAS.TOTAL.P4 }}</td>

                    </tr>

                    {% if DESCARGA.POSSUI_RESTRICAO %} 
                        
                        <tr class="LINHA_MOTIVO">
                            <td colspan=3 rowspan="2" class="EXCLAMACAO_RESTRICAO">
                                RESTRIÇÃO
                            </td>
                            
                            {% for MOTIVO in DESCARGA.RESTRICAO_MOTIVO %}
                            
                                {% if MOTIVO != 0%}
                                    <td class="RESTRICAO_ATIVA">{{MOTIVO}} </td>
                                {% else %}
                                    <td>.</td>
                                {% endif%}
                            
                            {% endfor %}
                            <td colspan=2 rowspan="2" class="FIM_RESTRICAO">
                                <svg fill="#FFFFFF" height="50px" width="50px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-24.86 -24.86 360.53 360.53" xml:space="preserve" stroke="#FFFFFFF" stroke-width="6.21612">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier"> <path d="M305.095,229.104L186.055,42.579c-6.713-10.52-18.172-16.801-30.652-16.801c-12.481,0-23.94,6.281-30.651,16.801 L5.711,229.103c-7.145,11.197-7.619,25.39-1.233,37.042c6.386,11.647,18.604,18.883,31.886,18.883h238.079 c13.282,0,25.5-7.235,31.888-18.886C312.714,254.493,312.24,240.301,305.095,229.104z M155.403,253.631 c-10.947,0-19.82-8.874-19.82-19.82c0-10.947,8.874-19.821,19.82-19.821c10.947,0,19.82,8.874,19.82,19.821 C175.223,244.757,166.349,253.631,155.403,253.631z M182.875,115.9l-9.762,65.727c-1.437,9.675-10.445,16.353-20.119,14.916 c-7.816-1.161-13.676-7.289-14.881-14.692l-10.601-65.597c-2.468-15.273,7.912-29.655,23.185-32.123 c15.273-2.468,29.655,7.912,32.123,23.185C183.284,110.192,183.268,113.161,182.875,115.9z"></path> </g>
                                </svg>
                            </td>
                        </tr>
                        
                        <tr class="LINHA_PCT">
                         
                            {% for RESTRICAO in DESCARGA.RESTRICAO_PCT %}
                            
                                {% if RESTRICAO != 0%}
                                    <td class="RESTRICAO_ATIVA">{{RESTRICAO}}</td>
                                {% else %}
                                    <td>.</td>
                                {% endif%}
                        
                            {% endfor %}

                        </tr>

                    {% endif %}

                </table>
            
            </div>

            {% endfor %}
        </div>

        {% endfor %}

    {% else %}

        <div class="SEM_NAVEGACAO">
            <img src="{% static 'imagens/caixa-vazia.png' %}" >
            <h3>Não há descargas disponíveis no momento.</h3>
        </div>
        
    {% endif %}
    <!--#endregion-->

</div>

<div id="CALCULADORA" class="oculto">
   <p> Soma:        <label id="CALCULADORA_VALOR"></label></p>
</div>


</div>
{% if user|can:'editar_itens' %}
<script>

    document.body.addEventListener('keypress', function(e) {

        if ((MODO_EDICAO === true) && (e.which === 13)){
            if (NOVO_VALOR == ""){NOVO_VALOR = 0 }
            PARAMETROS_EDITADOS["VALOR"] = NOVO_VALOR
            console.log(`PARAMETROS EDITADOS ${JSON.stringify(PARAMETROS_EDITADOS)}`)
            $.ajax({

                url: '{% url "navegacao" %} ',
                type: 'POST',
                data: {
                    'ACAO'      : "EDITAR_PRODUTIVIDADE",
                    'TERMINAL'  :  PARAMETROS_EDITADOS["TERMINAL"],      
                    'DATA_ARQ'  :  PARAMETROS_EDITADOS["DATA_ARQ"],    
                    'PRODUTO'   :  PARAMETROS_EDITADOS["PRODUTO"],
                    'FERROVIA'  :  PARAMETROS_EDITADOS["FERROVIA"],
                    'CELULAS'   :  PARAMETROS_EDITADOS["CELULAS"],   
                    'VALOR'     :  PARAMETROS_EDITADOS["VALOR"],
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                success: function(DESCARGAS) {
                    MODO_EDICAO = false
                    ATUALIZAR_DESCARGA(DESCARGAS);

                },
                error: function(xhr) {
                    alert("ERRO")
                }

            });
        }

        if ((EDITAR_SALDO_VIRADA === true) && (e.which === 13)){

            if (NOVO_VALOR == ""){NOVO_VALOR = 0 }
            PARAMETROS_EDITADOS["VALOR"] = NOVO_VALOR

            $.ajax({
                url: '{% url "navegacao" %} ',
                type: 'POST',
                data: {
                    'ACAO'      : "EDITAR_SALDO_DE_VIRADA",
                    'TERMINAL'  :  PARAMETROS_EDITADOS["TERMINAL"],      
                    'DATA_ARQ'  :  PARAMETROS_EDITADOS["DATA_ARQ"],    
                    'PRODUTO'   :  PARAMETROS_EDITADOS["PRODUTO"],
                    'FERROVIA'  :  PARAMETROS_EDITADOS["FERROVIA"],
                    'CELULAS'   :  PARAMETROS_EDITADOS["CELULAS"],   
                    'VALOR'     :  PARAMETROS_EDITADOS["VALOR"],
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                success: function(DESCARGAS) {
                    EDITAR_SALDO_VIRADA = false;
                    ATUALIZAR_DESCARGA(DESCARGAS);

                },
                error: function(xhr) {
                    alert("ERRO")
                }
            });

        }

        if ((EDITAR_PRODUTIVIADE === true) && (e.which === 13) && (NOVO_VALOR != "")){

            PARAMETROS_EDITADOS["VALOR"] = NOVO_VALOR

            $.ajax({
                url: '{% url "navegacao" %} ',
                type: 'POST',
                data: {
                    'ACAO'      : "EDITAR_CONSTANTE_PRODUTIVIDADE",
                    'TERMINAL'  :  PARAMETROS_EDITADOS["TERMINAL"],      
                    'DATA_ARQ'  :  PARAMETROS_EDITADOS["DATA_ARQ"],    
                    'PRODUTO'   :  PARAMETROS_EDITADOS["PRODUTO"],
                    'FERROVIA'  :  PARAMETROS_EDITADOS["FERROVIA"],
                    'CELULAS'   :  PARAMETROS_EDITADOS["CELULAS"],   
                    'VALOR'     :  PARAMETROS_EDITADOS["VALOR"],
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                success: function(response) {

                    location.reload();

                },
                error: function(xhr) {
                    alert("ERRO")
                }
            });

        }

    });

     
    
</script>
{% endif %}
{% endblock %}