{% extends 'main.html' %}
{% block content %}
{% load static %}
{% load     permission_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'css/previsao_subida/previsao_subida.css' %}"> 


<dialog id="modal_criar_trem_subida">

    <h2>Novo Trem</h2>

    <form action="{% url 'criar_trem_subida' %}" method="POST">
        
        {% csrf_token %}

        <fieldset class="fst-trem-info">
            
            <legend>Trem</legend>

            {{ form.prefixo  }}
            {{ form.previsao }}

            <fieldset>  <legend>EoT         </legend>{{ form.eot }}         </fieldset> 
            <fieldset>  <legend>Margem      </legend>{{ form.margem }}      </fieldset> 
            <fieldset>  <legend>Ferrovia    </legend>{{ form.ferrovia }}    </fieldset> 

        </fieldset>
        
        <fieldset class="fst-trem-locomotivas">  
            
            <legend>Locomotivas </legend>
            
            {{ form.loco_1 }}    
            {{ form.loco_2 }}
            {{ form.loco_3 }}
            {{ form.loco_4 }}
            {{ form.loco_5 }}     
        
        </fieldset>

        <fieldset class="fst-trem-vagoes">  
            
            <legend>Vagões </legend>
            
            

            <table>
                <thead>
                    <th colspan="3">Vagões</th>
                </thead>

                <tbody>
                    <tr> <th name="GRAO"        class="segmento-selecionado" onclick="mudarSegmento(this)" >Grãos    </th> <td>{{ form.qt_graos  }}</td> <td class="valor_vagoes" name="GRAO"           data-segmento="Grãos">          -</td> </tr>
                    <tr> <th name="FERTILIZANTE"                             onclick="mudarSegmento(this)" >Fertil.  </th> <td>{{ form.qt_ferti  }}</td> <td class="valor_vagoes" name="FERTILIZANTE"   data-segmento="Fertilantes">  -</td> </tr>
                    <tr> <th name="CELULOSE"                                 onclick="mudarSegmento(this)" >Celulose </th> <td>{{ form.qt_celul  }}</td> <td class="valor_vagoes" name="CELULOSE"       data-segmento="Celulose">      -</td> </tr>
                    <tr> <th name="ACUCAR"                                   onclick="mudarSegmento(this)" >Açúcar   </th> <td>{{ form.qt_acuca  }}</td> <td class="valor_vagoes" name="ACUCAR"         data-segmento="Açúcar">        -</td> </tr>
                    <tr> <th name="CONTEINER"                                onclick="mudarSegmento(this)" >Conte.   </th> <td>{{ form.qt_contei }}</td> <td class="valor_vagoes" name="CONTEINER"      data-segmento="Contêineres">     -</td> </tr>
                </tbody>
            </table>

            <table class="tbl_vagoes_disponiveis">
                
                <thead>
                    <th colspan="6">GRAO</th>
                </thead>

                <tbody>

                    <tr> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
                    <tr> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
                    <tr> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
                    <tr> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>

                </tbody>
                
            </table>

        </fieldset>

        {% if form.non_field_errors %}
        <ul class="errorlist">
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <button type="submit" class="BOTAO VERDE" >Salvar</button>
    </form>

</dialog>

<div class="CONTEUDO__PADRAO" >  

    <h1>PREVISÃO - IMPORTAÇÃO</h1>
    
    <button type="button"  data-acao="CRIAR_TREM" data-criar-trem-url="{% url 'novo_trem_previsao' %}" class="BOTAO LARANJA" data-toggle="modal" data-target="#modalAdicionarTrem" onclick="abriFormulario()">
        Novo Trem
    </button>

    {% if previsoes.direita or previsoes.esquerda %}
    {% if previsoes.direita %}
        
        <h2>DIREITA</h2>
        
        <!--#region HEADER TABLE-->
        <table class="tbl-prev-subida">
                    
            <thead>

                <th class="COL_PP">                         </th>
                <th class="COL_PP">PREF                     </th>
                <th class="COL_PP">FERR                     </th>
                <th class="COL_M">PREVISÃO                  </th>
                <th class="COL_P">EOT                       </th>

                <th class="COL_PP">GRAOS                    </th>
                <th class="COL_PP">FERTI                    </th>
                <th class="COL_PP">CEL.                     </th>
                <th class="COL_PP">ACR.                     </th>
                <th class="COL_PP">CONT                     </th>

                <th colspan=5 style="padding: 0 15px ">LOCOMOTIVAS                  </th>
                

                <th  colspan=2></th>

            </thead>
        <!--#endregion-->

        <tbody>
        {% for trem in previsoes.direita %}
        
            <tr>
                <td>{{ forloop.counter0 }}                  </td>
                <td>{{trem.prefixo}}                        </td>
                <td>{{trem.ferrovia}}                       </td>
                <td>{{trem.previsao | date:"H:i d/m/Y" }}   </td>
                <td>{{trem.eot}}                            </td>
                <td>
                    {% if trem.qt_graos == None %}
                        --   
                    {% else %}
                        {{trem.qt_graos}}  
                    {% endif %}    
                </td>
                <td>
                    {% if trem.qt_ferti == None %}
                        --   
                    {% else %}
                        {{trem.qt_ferti}}  
                    {% endif %}                     
                </td>
                <td>
                    {% if trem.qt_celul == None %}
                        --   
                    {% else %}
                        {{trem.qt_celul}}  
                    {% endif %}                      
                </td>
                <td>
                    {% if trem.qt_acuca == None %}
                        --   
                    {% else %}
                        {{trem.qt_acuca}}  
                    {% endif %}                       
                </td>
                <td>
                    {% if trem.qt_contei == None %}
                        --   
                    {% else %}
                        {{trem.qt_contei}}  
                    {% endif %}      
                         
                </td>
    
                <td>
                    {% if trem.loco_1 == None %}
                        --   
                    {% else %}
                        {{trem.loco_1}}  
                    {% endif %}                           
                </td>
    
                <td>
                    {% if trem.loco_2 == None %}
                        --   
                    {% else %}
                        {{trem.loco_2}}  
                    {% endif %}                           
                </td>
    
    
                <td>
                    {% if trem.loco_3 == None %}
                        --   
                    {% else %}
                        {{trem.loco_3}}  
                    {% endif %}                           
                </td>
    
    
                <td>
                    {% if trem.loco_4 == None %}
                        --   
                    {% else %}
                        {{trem.loco_4}}  
                    {% endif %}                           
                </td>
    
                <td>
                    {% if trem.loco_5 == None %}
                        --   
                    {% else %}
                        {{trem.loco_5}}  
                    {% endif %}                           
                </td>
                
                <td >
                    {% if user|can:'editar_subida' %}
                    <svg  version="1.1" id="Capa_1" data-acao="EDITAR_TREM" data-editar-trem-url="{% url 'editar_trem' trem.id %}" onclick="TOOGLE_FORM(this)"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 348.882 348.882" xml:space="preserve">\
                        <title>Editar</title>
                        <g>
                            <path d="M333.988,11.758l-0.42-0.383C325.538,4.04,315.129,0,304.258,0c-12.187,0-23.888,5.159-32.104,14.153L116.803,184.231
                                c-1.416,1.55-2.49,3.379-3.154,5.37l-18.267,54.762c-2.112,6.331-1.052,13.333,2.835,18.729c3.918,5.438,10.23,8.685,16.886,8.685
                                c0,0,0.001,0,0.001,0c2.879,0,5.693-0.592,8.362-1.76l52.89-23.138c1.923-0.841,3.648-2.076,5.063-3.626L336.771,73.176
                                C352.937,55.479,351.69,27.929,333.988,11.758z M130.381,234.247l10.719-32.134l0.904-0.99l20.316,18.556l-0.904,0.99
                                L130.381,234.247z M314.621,52.943L182.553,197.53l-20.316-18.556L294.305,34.386c2.583-2.828,6.118-4.386,9.954-4.386
                                c3.365,0,6.588,1.252,9.082,3.53l0.419,0.383C319.244,38.922,319.63,47.459,314.621,52.943z"/>
                            <path d="M303.85,138.388c-8.284,0-15,6.716-15,15v127.347c0,21.034-17.113,38.147-38.147,38.147H68.904
                                c-21.035,0-38.147-17.113-38.147-38.147V100.413c0-21.034,17.113-38.147,38.147-38.147h131.587c8.284,0,15-6.716,15-15
                                s-6.716-15-15-15H68.904c-37.577,0-68.147,30.571-68.147,68.147v180.321c0,37.576,30.571,68.147,68.147,68.147h181.798
                                c37.576,0,68.147-30.571,68.147-68.147V153.388C318.85,145.104,312.134,138.388,303.85,138.388z"/>
                        
                        </g>
                    </svg>
                    {% endif %}
                </td>

                <td>

                    {% if user|can:'editar_subida' %}

                    <a href="{% url 'excluir_trem_subida' trem.id %}">
                        <svg class="icone-excluir" viewBox="0 0 110.61 122.88">
                            <title>Excluir</title>
                            <path d="M39.27,58.64a4.74,4.74,0,1,1,9.47,0V93.72a4.74,4.74,0,1,1-9.47,0V58.64Zm63.6-19.86L98,103a22.29,22.29,0,0,1-6.33,14.1,19.41,19.41,0,0,1-13.88,5.78h-45a19.4,19.4,0,0,1-13.86-5.78l0,0A22.31,22.31,0,0,1,12.59,103L7.74,38.78H0V25c0-3.32,1.63-4.58,4.84-4.58H27.58V10.79A10.82,10.82,0,0,1,38.37,0H72.24A10.82,10.82,0,0,1,83,10.79v9.62h23.35a6.19,6.19,0,0,1,1,.06A3.86,3.86,0,0,1,110.59,24c0,.2,0,.38,0,.57V38.78Zm-9.5.17H17.24L22,102.3a12.82,12.82,0,0,0,3.57,8.1l0,0a10,10,0,0,0,7.19,3h45a10.06,10.06,0,0,0,7.19-3,12.8,12.8,0,0,0,3.59-8.1L93.37,39ZM71,20.41V12.05H39.64v8.36ZM61.87,58.64a4.74,4.74,0,1,1,9.47,0V93.72a4.74,4.74,0,1,1-9.47,0V58.64Z"/>
                        </svg>
                    </a>

                    {% endif %}
                    
                </td> 


            </tr>

        {% endfor %}
        </tbody>

        </table>
    {% endif %}    
    
    {% if previsoes.esquerda %}
        
        <h2>ESQUERDA</h2>
        
        <!--#region HEADER TABLE-->
        <table class="tbl-prev-subida">
                    
            <thead>

                <th class="COL_PP">                         </th>
                <th class="COL_PP">PREF                     </th>
                <th class="COL_PP">FERR                     </th>
                <th class="COL_M">PREVISÃO                  </th>
                <th class="COL_P">EOT                       </th>

                <th class="COL_PP">GRAOS                    </th>
                <th class="COL_PP">FERTI                    </th>
                <th class="COL_PP">CEL.                     </th>
                <th class="COL_PP">ACR.                     </th>
                <th class="COL_PP">CONT                     </th>

                <th colspan=5 style="padding: 0 15px ">LOCOMOTIVAS                  </th>
                

                <th  colspan=2></th>

            </thead>
        <!--#endregion-->

        <tbody>
        
        {% for trem in previsoes.esquerda %}
        
            <tr>
                <td>{{ forloop.counter0 }}                  </td>
                <td>{{trem.prefixo}}                        </td>
                <td>{{trem.ferrovia}}                       </td>
                <td>{{trem.previsao | date:"H:i d/m/Y" }}   </td>
                <td>{{trem.eot}}                            </td>
                <td>
                    {% if trem.qt_graos == None %}
                        --   
                    {% else %}
                        {{trem.qt_graos}}  
                    {% endif %}    
                </td>
                <td>
                    {% if trem.qt_ferti == None %}
                        --   
                    {% else %}
                        {{trem.qt_ferti}}  
                    {% endif %}                     
                </td>
                <td>
                    {% if trem.qt_celul == None %}
                        --   
                    {% else %}
                        {{trem.qt_celul}}  
                    {% endif %}                      
                </td>
                <td>
                    {% if trem.qt_acuca == None %}
                        --   
                    {% else %}
                        {{trem.qt_acuca}}  
                    {% endif %}                       
                </td>
                <td>
                    {% if trem.qt_contei == None %}
                        --   
                    {% else %}
                        {{trem.qt_contei}}  
                    {% endif %}      
                         
                </td>
    
                <td>
                    {% if trem.loco_1 == None %}
                        --   
                    {% else %}
                        {{trem.loco_1}}  
                    {% endif %}                           
                </td>
    
                <td>
                    {% if trem.loco_2 == None %}
                        --   
                    {% else %}
                        {{trem.loco_2}}  
                    {% endif %}                           
                </td>
    
    
                <td>
                    {% if trem.loco_3 == None %}
                        --   
                    {% else %}
                        {{trem.loco_3}}  
                    {% endif %}                           
                </td>
    
    
                <td>
                    {% if trem.loco_4 == None %}
                        --   
                    {% else %}
                        {{trem.loco_4}}  
                    {% endif %}                           
                </td>
    
                <td>
                    {% if trem.loco_5 == None %}
                        --   
                    {% else %}
                        {{trem.loco_5}}  
                    {% endif %}                           
                </td>
    


               <td >
                    
                    {% if user|can:'editar_subida' %}
                    <svg  version="1.1" id="Capa_1" data-acao="EDITAR_TREM" data-editar-trem-url="{% url 'editar_trem' trem.id %}" onclick="TOOGLE_FORM(this)"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 348.882 348.882" xml:space="preserve">\
                        <title>Editar</title>
                        <g>
                            <path d="M333.988,11.758l-0.42-0.383C325.538,4.04,315.129,0,304.258,0c-12.187,0-23.888,5.159-32.104,14.153L116.803,184.231
                                c-1.416,1.55-2.49,3.379-3.154,5.37l-18.267,54.762c-2.112,6.331-1.052,13.333,2.835,18.729c3.918,5.438,10.23,8.685,16.886,8.685
                                c0,0,0.001,0,0.001,0c2.879,0,5.693-0.592,8.362-1.76l52.89-23.138c1.923-0.841,3.648-2.076,5.063-3.626L336.771,73.176
                                C352.937,55.479,351.69,27.929,333.988,11.758z M130.381,234.247l10.719-32.134l0.904-0.99l20.316,18.556l-0.904,0.99
                                L130.381,234.247z M314.621,52.943L182.553,197.53l-20.316-18.556L294.305,34.386c2.583-2.828,6.118-4.386,9.954-4.386
                                c3.365,0,6.588,1.252,9.082,3.53l0.419,0.383C319.244,38.922,319.63,47.459,314.621,52.943z"/>
                            
                            <path d="M303.85,138.388c-8.284,0-15,6.716-15,15v127.347c0,21.034-17.113,38.147-38.147,38.147H68.904
                                c-21.035,0-38.147-17.113-38.147-38.147V100.413c0-21.034,17.113-38.147,38.147-38.147h131.587c8.284,0,15-6.716,15-15
                                s-6.716-15-15-15H68.904c-37.577,0-68.147,30.571-68.147,68.147v180.321c0,37.576,30.571,68.147,68.147,68.147h181.798
                                c37.576,0,68.147-30.571,68.147-68.147V153.388C318.85,145.104,312.134,138.388,303.85,138.388z"/>
                        
                        </g>
                    </svg>
                    {% endif %}
                    
                </td>
                <td>
                   
                    {% if user|can:'editar_subida' %}

                    <a href="{% url 'excluir_trem_subida' trem.id %}">
                        <svg class="icone-excluir" viewBox="0 0 110.61 122.88">
                            <title>Excluir</title>
                            <path d="M39.27,58.64a4.74,4.74,0,1,1,9.47,0V93.72a4.74,4.74,0,1,1-9.47,0V58.64Zm63.6-19.86L98,103a22.29,22.29,0,0,1-6.33,14.1,19.41,19.41,0,0,1-13.88,5.78h-45a19.4,19.4,0,0,1-13.86-5.78l0,0A22.31,22.31,0,0,1,12.59,103L7.74,38.78H0V25c0-3.32,1.63-4.58,4.84-4.58H27.58V10.79A10.82,10.82,0,0,1,38.37,0H72.24A10.82,10.82,0,0,1,83,10.79v9.62h23.35a6.19,6.19,0,0,1,1,.06A3.86,3.86,0,0,1,110.59,24c0,.2,0,.38,0,.57V38.78Zm-9.5.17H17.24L22,102.3a12.82,12.82,0,0,0,3.57,8.1l0,0a10,10,0,0,0,7.19,3h45a10.06,10.06,0,0,0,7.19-3,12.8,12.8,0,0,0,3.59-8.1L93.37,39ZM71,20.41V12.05H39.64v8.36ZM61.87,58.64a4.74,4.74,0,1,1,9.47,0V93.72a4.74,4.74,0,1,1-9.47,0V58.64Z"/>
                        </svg>
                    </a>

                    {% endif %}
                </td> 
            </tr>

        {% endfor %}
        
        </tbody>

        </table>
    {% endif %}  
    {% else %}

    <div class="SEM_NAVEGACAO">
        <img src="{% static 'imagens/caixa-vazia.png' %}" >
        <h3>Não há previsões.</h3>
    </div>
    {% endif %}


<!--#region abrir modal criar criar_trem-->
{% if tipo_formulario == 'criar_trem_subida' %}
<script>
    window.addEventListener('load', function(){
        //ajustando url
        window.history.replaceState({}, '', '/previsao_subida');
    
        var modal   = document.getElementById("modal_criar_trem_subida");
        var titulo  = modal.querySelector('h2');
        var form    = modal.querySelector('form');

        titulo.textContent = "Criar Trem";
        modal.showModal()
        form.action        = "{% url 'criar_trem_subida' %}";
    });
    
</script>
{% endif %}
<!--#endregion-->

<script>

    const condensados   = {{ condensados | safe }};
    const dias          = {{ dias | safe }};
    var   dia_logistico = "D"

    function analisarRadioButton(name) {

        const radios = document.getElementsByName(name);

        for (let i = 0; i < radios.length; i++) {
            if (radios[i].checked) {return radios[i].value;}
        }

        return null;
    }

    function atualizar_tabela(){

        var ferrovia = analisarRadioButton("ferrovia")
        var margem   = analisarRadioButton("margem").toUpperCase()
        var segmento =  document.querySelector('th.segmento-selecionado').getAttribute('name');
        
        const vagoes_24h = condensados[dia_logistico][margem][ferrovia][segmento]["SALDO"];
        const cells      = document.querySelectorAll('.tbl_vagoes_disponiveis tr td');
        
        //console.log(`novos valores ${ferrovia} ${margem} ${segmento} ${dia_logistico}`)
        
        vagoes_24h.forEach((item, index) => {

            if (item != 0)  { cells[index].textContent = item; } 
            else            { cells[index].textContent = '-'   }

        }); 

        const nomeProduto = document.querySelectorAll('.tbl_vagoes_disponiveis th');
        nomeProduto.forEach(th => { th.innerText = segmento; });
    }

    function mudarSegmento(botao){
        
        const elementosSelecionados = document.querySelectorAll('.segmento-selecionado');

        // Itera sobre os elementos e remove a classe "selecionado"
        elementosSelecionados.forEach(elemento => {
            elemento.classList.remove('segmento-selecionado');
        });

        botao.classList.add("segmento-selecionado") 
    
        atualizar_tabela()
    }

    function ajustarHora(DatetimeValue){

 
        const [datePart, timePart]  = DatetimeValue.split('T');
        const [year, month, day]    = datePart.split('-');
        const [hour, minute]        = timePart.split(':');


        const datetime = new Date(Date.UTC(year, month - 1, day, hour, minute));


        datetime.setUTCHours(datetime.getUTCHours() - 1);


        const newDatetimeValue = datetime.toISOString().slice(0, 16);

        return newDatetimeValue
    }

    function atualizarHorario(){

        var ferrovia = analisarRadioButton("ferrovia")
        var margem   = analisarRadioButton("margem").toUpperCase()

        //#region selecionando na tabela da direita
        const elementosSelecionados = document.querySelectorAll('.hora_selecionada');

        elementosSelecionados.forEach(elemento => {
            elemento.classList.remove('hora_selecionada');
        });

        var previsao = ajustarHora(document.getElementById("id_previsao").value)


        //alert(previsao)

        var data     = previsao.split('T')[0]
        var hora     = previsao.split('T')[1].split(':')[0];

        const cells = document.querySelectorAll('.tbl_vagoes_disponiveis tr td');
        cells[Number(hora)].classList.add("hora_selecionada")

        //#endregion
    
        //#region atualizando valores na tabela da esquerda

        var valores = document.querySelectorAll('.valor_vagoes');

        valores.forEach(elemento => {
            
            let segmento = elemento.getAttribute('name');
            //console.log(segmento)
            
            let vagoes   = condensados[dia_logistico][margem][ferrovia][segmento]["SALDO"]; 
            elemento.innerHTML = vagoes[Number(hora)]

        });

        //#endregion
        
        //alert(`comparando datas ${data} - ${JSON.stringify(dias)}`)

        for (let _dia_logistico in dias) {

            if (dias[_dia_logistico] === data)
            {
                dia_logistico = _dia_logistico
            }
        }

        atualizar_tabela()
    }

    //#region toogle modal
    function abriFormulario(){
        var modal = document.getElementById("modal_criar_trem_subida")
        modal.showModal()
    }

    document.querySelector('dialog').addEventListener('mousedown', event => {

        if (event.target === event.currentTarget) {
            event.currentTarget.close()
        }

    })
    //#endregion

    window.addEventListener('load', function() {

        atualizar_tabela()

    })


</script>

{% endblock %}