{% extends 'main.html' %}
{% block content %}
{% load static %}
{% load custom_filters %}

<link   rel="stylesheet" type="text/css" href="{% static 'css/RELATORIO_OCUPACAO/RELATORIO_OCUPACAO.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'css/navegacao/tabela_descarga.css' %}"> 

<script src="{% static 'javascript/RELATORIO_OCUPACAO/RELATORIO_OCUPACAO.js' %}" defer></script>

<div class="CONTEUDO__PADRAO">

    <h1>OCUPAÇÃO DOS TERMINAIS</h1>

    <div class="tab">

        <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'D')"><h2>D</h2></button>
        <button class="tablinks" onclick="openCity(event, 'D1')"><h2>D+1</h2></button>
        <button class="tablinks" onclick="openCity(event, 'D2')"><h2>D+2</h2></button>

    </div>
      
        <div id="D" class="tabcontent">
            <div id="D">

            <h2>D</h2>
            
                <table>
                
                    <thead>
                    
                        <tr>
                            <th colspan="2" rowspan="2"> <img src="{% static 'imagens/logo-fips-vertical.png' %}" class="logo__ocupacao"></th>
                            <th colspan="24">D</th>
                            <th colspan="2">PLANO</th>
                            <th colspan="2">PxO</th>
                            <th>FILA </br> MÉD</th>
                            <th>OPORT.</th>
                            <th>CAP.</th>
                        </tr>
            
                        <tr>
                            <td>01h</td>
                            <td>02h</td>
                            <td>03h</td>    
                            <td>04h</td>
                            <td>05h</td>
                            <td>06h</td>
                            <td>07h</td>
                            <td>08h</td>
                            <td>09h</td>  
                            <td>10h</td>
                            <td>11h</td>
                            <td>12h</td>
                            <td>13h</td>
                            <td>14h</td>
                            <td>15h</td>
                            <td>16h</td>  
                            <td>17h</td>
                            <td>18h</td>
                            <td>19h</td>
                            <td>20h</td> 
                            <td>21h</td>
                            <td>22h</td>
                            <td>23h</td>
                            <td>24h</td>
                            
                            <td>OF</br> (vgs)</td>
                            <td>PD</br> (vgs)</td>
            
                            <td>PROD </br> (vgs/h)  </td>
                            <td>OCIOS</br> (h)      </td>
                            <td> (h/vg)             </td>
            
                            <td>(vgs)   </td>
                            <td>80%     </td>
                        </tr>
            
                    </thead>

                    <tbody>
            
                        {%for TERMINAL, CONTEUDO_TERMINAL in RELATORIO.D.PSN.items %}

                            <!--#region PREFIXO -->

                            {% if forloop.first %}
                                {% with rowspan_value=RELATORIO.D.PSN|length|add:"0" %}
                                    {% with rowspan_value=rowspan_value|times:4 %}
                                        <th rowspan="{{ rowspan_value }}" class="MARGEM">PSN</th>
                                    {% endwith %}
                                {% endwith %}
                            {% endif %}
                
                            <th class="TERMINAL" data-terminal="{{ TERMINAL }}" data-dia="D" rowspan=4 onclick="ABRIR_DESCARGA(this)">{{TERMINAL}}</th>
            
                            {% for ITEM in CONTEUDO_TERMINAL.PREFIXO %}
            
                                {% if ITEM != 0 %}
                                    <td class="item__prefixo">{{ ITEM|slice:":3" }}</td>
                                {% else %}
                                    <td class="item__prefixo item-branco">. </td>
                                {% endif %}
                                
                            {% endfor %}
                                
                            <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.PLANO.OFERTA }}         </td>
                            <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.PLANO.PEDRA }}          </td>
                            
                            

                            {% if CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE >  CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE %}
                                
                                <td rowspan=4 class="PRODUTIVIDADE_COLUNA cor-verde"  title="{{ CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE }}    </td>
                            
                            {% else %}

                                {% if CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE >  CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE %}
                                    <td rowspan=4 class="PRODUTIVIDADE_COLUNA cor-vermelha"  title="{{ CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE }}    </td>
                                {% else %}  
                                    <td rowspan=4 class="PRODUTIVIDADE_COLUNA"  title="{{ CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE }}    </td>
                                {% endif %}

                            {% endif %}

                            {% if CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE > CONTEUDO_TERMINAL.PXO.OCIOSIDADE  %}
                                
                                <td rowspan=4 class="OCIOSIDADE_COLUNA cor-verde"  title="{{ CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.OCIOSIDADE }}    </td>
                        
                            {% else %}

                                {% if CONTEUDO_TERMINAL.PXO.OCIOSIDADE > CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE %}
                                    <td rowspan=4 class="OCIOSIDADE_COLUNA cor-vermelha"  title="{{ CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.OCIOSIDADE }}    </td>
                                {% else %}  
                                    <td rowspan=4 class="OCIOSIDADE_COLUNA"  title="{{ CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.OCIOSIDADE }}    </td>
                                {% endif %}

                            {% endif %}
                        

                            <td rowspan=4 class="coluna-indicador">                     {{ CONTEUDO_TERMINAL.FILA_MEDIA }}      </td>
                            <td rowspan=4 class="coluna-indicador OPORTINIDADE_COLUNA"> {{ CONTEUDO_TERMINAL.OPORTUNIDADE }}    </td>
                            <td rowspan=4 class="coluna-indicador">                     {{ CONTEUDO_TERMINAL.CAPACIDADE }}      </td>
            
                            </tr>
                            <!--#endregion-->

                            <!--#region FILA --> 
                            {% for ITEM in CONTEUDO_TERMINAL.FILA %}
                                
                                {% if ITEM > 0 %}
                                    <td class="item__fila cinza">{{ITEM}}</td>
                                {% else %}
                                    <td class="item__fila">.</td>
                                {% endif %}
            
                            {% endfor %}
                            </tr>
                            <!--#endregion-->   

                            <!--#region OCUPACAO -->
                            {% for ITEM in CONTEUDO_TERMINAL.OCUPACAO %}
                                
                                {% if ITEM == "V" %}
                                    <td class="item__ocupacao item-verde">{{ITEM}}</td>
                                {% else %}
            
                                    {% if ITEM == "A" %}
                                        <td class="item__ocupacao item-amarelo">{{ITEM}}</td>
                                    {% else %}
                                        <td class="item__ocupacao vazio">.</td>
                                    {% endif %}
            
                                {% endif %}
            
                            {% endfor %}
                            </tr>
                            <!--#endregion--> 

                            <!--#region RESTRICAO --> 
                            {% for ITEM in CONTEUDO_TERMINAL.RESTRICAO %}
            
                                {% if ITEM != 0 %}
                                    <td class="item__restricao "><div class="restricao">.</div></td>
                                {% else %}
                                    <td class="item__restricao item-branco">. </td>
                                {% endif %}
                            {% endfor %}
                            </tr>
                            <!--#endregion-->

                        {% endfor %}
            
                        {%for TERMINAL, CONTEUDO_TERMINAL in RELATORIO.D.PCZ.items %}
                        
                            <!--#region PREFIXO -->
                            {% if forloop.first %}
                                {% with rowspan_value=RELATORIO.D.PCZ|length|add:"0" %}
                                    {% with rowspan_value=rowspan_value|times:4 %}
                                        <th rowspan="{{ rowspan_value }}" class="MARGEM">PCZ</th>
                                    {% endwith %}
                                {% endwith %}
                            {% endif %}
                
                            <th class="TERMINAL" data-terminal="{{ TERMINAL }}" data-dia="D" rowspan=4 onclick="ABRIR_DESCARGA(this)">{{TERMINAL}}</th>
                        
                            {% for ITEM in CONTEUDO_TERMINAL.PREFIXO %}
            
                                {% if ITEM != 0 %}
                                    <td class="item__prefixo">{{ ITEM|slice:":3" }}</td>
                                {% else %}
                                    <td class="item__prefixo item-branco">. </td>
                                {% endif %}
            
                            {% endfor %}
            
                            <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.PLANO.OFERTA }}         </td>
                            <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.PLANO.PEDRA }}          </td>
            
                            {% if CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE >  CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE %}
                                    
                                <td rowspan=4 class="PRODUTIVIDADE_COLUNA cor-verde"  title="{{ CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE }}    </td>
                        
                            {% else %}
            
                                {% if CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE >  CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE %}
                                    <td rowspan=4 class="PRODUTIVIDADE_COLUNA cor-vermelha"  title="{{ CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE }}    </td>
                                {% else %}  
                                    <td rowspan=4 class="PRODUTIVIDADE_COLUNA"  title="{{ CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE }}    </td>
                                {% endif %}
            
                            {% endif %}
            
                            {% if CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE > CONTEUDO_TERMINAL.PXO.OCIOSIDADE  %}
                                
                                <td rowspan=4 class="OCIOSIDADE_COLUNA cor-verde"  title="{{ CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.OCIOSIDADE }}    </td>
                        
                            {% else %}
            
                                {% if CONTEUDO_TERMINAL.PXO.OCIOSIDADE > CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE %}
                                    <td rowspan=4 class="OCIOSIDADE_COLUNA cor-vermelha"  title="{{ CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.OCIOSIDADE }}    </td>
                                {% else %}  
                                    <td rowspan=4 class="OCIOSIDADE_COLUNA"  title="{{ CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.OCIOSIDADE }}    </td>
                                {% endif %}
            
                            {% endif %}
            
                            <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.FILA_MEDIA }}           </td>
                            <td rowspan=4 class="coluna-indicador OPORTINIDADE_COLUNA">{{ CONTEUDO_TERMINAL.OPORTUNIDADE }}         </td>
                            <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.CAPACIDADE }}           </td>
                            </tr>
                            <!--#endregion-->

                            <!--#region FILA -->
                            {% for ITEM in CONTEUDO_TERMINAL.FILA %}
            
                                {% if ITEM > 0 %}
                                    <td class="item__fila cinza">{{ITEM}}</td>
                                {% else %}
                                    <td class="item__fila"></td>
                                {% endif %}
            
                            {% endfor %}
                            </tr>
                            <!--#endregion-->

                            <!--#region OCUPACAO -->
                            {% for ITEM in CONTEUDO_TERMINAL.OCUPACAO %}
                                {% if ITEM == "V" %}
                                    <td class="item__ocupacao item-verde">{{ITEM}}</td>
                                {% else %}
            
                                    {% if ITEM == "A" %}
                                        <td class="item__ocupacao item-amarelo">{{ITEM}}</td>
                                    {% else %}
                                        <td class="item__ocupacao vazio">.</td>
                                    {% endif %}
            
                                {% endif %}
                            {% endfor %}
                            </tr>
                            <!--#endregion-->

                            <!--#region RESTRICAO -->
                            {% for ITEM in CONTEUDO_TERMINAL.RESTRICAO %}
                                {% if ITEM != 0 %}
                                    <td class="item__restricao "><div class="restricao">.</div></td>
                                {% else %}
                                    <td class="item__restricao item-branco">. </td>
                                {% endif %}
                            {% endfor %}
                            </tr>
                            <!--#endregion-->

                        {% endfor %}
                            
                        <!--#region TOTAIS-->

                        <tr>

                            <td colspan="26" class="linha__total" onclick="abrir_total_detalhe('D')">TOTAL</td>
                            <td class="coluna__total">{{ RELATORIO.D.TOTAIS.PLANO.OFERTA        |formata_milhar }}</td>
                            <td class="coluna__total">{{ RELATORIO.D.TOTAIS.PLANO.PEDRA         |formata_milhar }}</td>
                            <td class="coluna__total">{{ RELATORIO.D.TOTAIS.PXO.PRODUTIVIDADE   |formata_milhar }}</td>
                            <td class="coluna__total">{{ RELATORIO.D.TOTAIS.PXO.OCIOSIDADE      |formata_milhar }}</td>
                            <td class="coluna__total">{{ RELATORIO.D.TOTAIS.FILA_MEDIA          |formata_milhar }}</td>
                            <td class="coluna__total">{{ RELATORIO.D.TOTAIS.OPORTUNIDADE                        }}</td>
                            <td class="coluna__total">{{ RELATORIO.D.TOTAIS.CAPACIDADE          |formata_milhar }}</td>
                
                        </tr>

                        <tr><td colspan="33" class="pula__linha">x</td></tr>
                        

                        <tr>
                            <td colspan="26" class="linha__total__margens">TOTAL DIREITA   </td>
                            <td class="coluna-indicador">{{ RELATORIO.D.TOTAIS_PSN.PLANO.OFERTA         |formata_milhar }}</td>
                            <td class="coluna-indicador">{{ RELATORIO.D.TOTAIS_PSN.PLANO.PEDRA          |formata_milhar }}</td>
                            <td class="OCIOSIDADE_COLUNA">{{ RELATORIO.D.TOTAIS_PSN.PXO.PRODUTIVIDADE   |formata_milhar }}</td>
                            <td class="OCIOSIDADE_COLUNA">{{ RELATORIO.D.TOTAIS_PSN.PXO.OCIOSIDADE      |formata_milhar }}</td>
                            <td class="coluna-indicador">{{ RELATORIO.D.TOTAIS_PSN.FILA_MEDIA           |formata_milhar }}</td>
                            <td class="OCIOSIDADE_COLUNA">{{ RELATORIO.D.TOTAIS_PSN.OPORTUNIDADE        |formata_milhar }}</td>
                            <td class="coluna-indicador">{{ RELATORIO.D.TOTAIS_PSN.CAPACIDADE           |formata_milhar }}</td>
                        </tr>

                        <tr>
                            <td colspan="26" class="linha__total__margens">TOTAL ESQUERDA  </td>
                            <td class="coluna-indicador">{{ RELATORIO.D.TOTAIS_PCZ.PLANO.OFERTA         |formata_milhar }}</td>
                            <td class="coluna-indicador">{{ RELATORIO.D.TOTAIS_PCZ.PLANO.PEDRA          |formata_milhar }}</td>
                            <td class="OCIOSIDADE_COLUNA">{{ RELATORIO.D.TOTAIS_PCZ.PXO.PRODUTIVIDADE   |formata_milhar }}</td>
                            <td class="OCIOSIDADE_COLUNA">{{ RELATORIO.D.TOTAIS_PCZ.PXO.OCIOSIDADE      |formata_milhar }}</td>
                            <td class="coluna-indicador">{{ RELATORIO.D.TOTAIS_PCZ.FILA_MEDIA           |formata_milhar }}</td>
                            <td class="OCIOSIDADE_COLUNA">{{ RELATORIO.D.TOTAIS_PCZ.OPORTUNIDADE        |formata_milhar }}</td>
                            <td class="coluna-indicador">{{ RELATORIO.D.TOTAIS_PCZ.CAPACIDADE           |formata_milhar }}</td>
                        </tr>

                        <!--#endregion-->

                    </tbody>
                
                </table>        
            </div>   
        </div>
        
        <div id="D1" class="tabcontent">

            <div id="D1">

            
                <h2>D+1</h2>
                
                <table>
                
                    <thead>
                
                    <tr>
                        <th colspan="2" rowspan="2"> <img src="{% static 'imagens/logo-fips-vertical.png' %}" class="logo__ocupacao"></th>
                        <th colspan="24">D      </th>
                        <th colspan="2">PLANO   </th>
                        <th colspan="2">PxO     </th>
                        <th>FILA </br> MÉD      </th>
                        <th>OPORT.              </th>
                        <th>CAP.                </th>
                    </tr>
        
                    <tr>
                        <td>01h</td>
                        <td>02h</td>
                        <td>03h</td>    
                        <td>04h</td>
                        <td>05h</td>
                        <td>06h</td>
                        <td>07h</td>
                        <td>08h</td>
                        <td>09h</td>  
                        <td>10h</td>
                        <td>11h</td>
                        <td>12h</td>
                        <td>13h</td>
                        <td>14h</td>
                        <td>15h</td>
                        <td>16h</td>  
                        <td>17h</td>
                        <td>18h</td>
                        <td>19h</td>
                        <td>20h</td> 
                        <td>21h</td>
                        <td>22h</td>
                        <td>23h</td>
                        <td>24h</td>
                        
                        <td>OF</br> (vgs)</td>
                        <td>PD</br> (vgs)</td>
        
                        <td>PROD </br> (vgs/h)  </td>
                        <td>OCIOS</br> (h)      </td>
                        <td> (h/vg)             </td>
        
                        <td>(vgs)   </td>
                        <td>80%     </td>
                    </tr>
        
                    </thead>

                    <tbody>
            
                        {%for TERMINAL, CONTEUDO_TERMINAL in RELATORIO.D1.PSN.items %}

                            <!--#region PREFIXO -->
                            {% if forloop.first %}
                                {% with rowspan_value=RELATORIO.D1.PSN|length|add:"0" %}
                                    {% with rowspan_value=rowspan_value|times:4 %}
                                        <th rowspan="{{ rowspan_value }}" class="MARGEM">PSN</th>
                                    {% endwith %}
                                {% endwith %}
                            {% endif %}
                
                            <th class="TERMINAL" data-terminal="{{ TERMINAL }}" data-dia="D+1" rowspan=4 onclick="ABRIR_DESCARGA(this)">{{TERMINAL}}</th>
                            
                            {% for ITEM in CONTEUDO_TERMINAL.PREFIXO %}
            
                                {% if ITEM != 0 %}
                                    <td class="item__prefixo">{{ ITEM|slice:":3" }}</td>
                                {% else %}
                                    <td class="item__prefixo item-branco">. </td>
                                {% endif %}
                                
                            {% endfor %}
                                
                                <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.PLANO.OFERTA }}         </td>
                                <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.PLANO.PEDRA }}          </td>
                                
                                {% if CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE >  CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE %}
                                    
                                    <td rowspan=4 class="PRODUTIVIDADE_COLUNA cor-verde"  title="{{ CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE }}    </td>
                                
                                {% else %}
            
                                    {% if CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE >  CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE %}
                                        <td rowspan=4 class="PRODUTIVIDADE_COLUNA cor-vermelha"  title="{{ CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE }}    </td>
                                    {% else %}  
                                        <td rowspan=4 class="PRODUTIVIDADE_COLUNA"  title="{{ CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE }}    </td>
                                    {% endif %}
            
                                {% endif %}
            
                                {% if CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE > CONTEUDO_TERMINAL.PXO.OCIOSIDADE  %}
                                    
                                    <td rowspan=4 class="OCIOSIDADE_COLUNA cor-verde"  title="{{ CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.OCIOSIDADE }}    </td>
                            
                                {% else %}
            
                                    {% if CONTEUDO_TERMINAL.PXO.OCIOSIDADE > CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE %}
                                        <td rowspan=4 class="OCIOSIDADE_COLUNA cor-vermelha"  title="{{ CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.OCIOSIDADE }}    </td>
                                    {% else %}  
                                        <td rowspan=4 class="OCIOSIDADE_COLUNA"  title="{{ CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.OCIOSIDADE }}    </td>
                                    {% endif %}
            
                                {% endif %}
                            
            
                                <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.FILA_MEDIA }}           </td>
                                <td rowspan=4 class="coluna-indicador OPORTINIDADE_COLUNA">{{ CONTEUDO_TERMINAL.OPORTUNIDADE }}         </td>
                                <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.CAPACIDADE }}           </td>
            
                            </tr>
                            <!--#endregion-->

                            <!--#region FILA -->
                            {% for ITEM in CONTEUDO_TERMINAL.FILA %}
                                
                                {% if ITEM > 0 %}
                                    <td class="item__fila cinza">{{ITEM}}</td>
                                {% else %}
                                    <td class="item__fila">.</td>
                                {% endif %}
            
                            {% endfor %}
                            </tr>
                            <!--#endregion-->

                            <!--#region OCUPACAO -->
                            {% for ITEM in CONTEUDO_TERMINAL.OCUPACAO %}
                                
                                {% if ITEM == "V" %}
                                    <td class="item__ocupacao item-verde">{{ITEM}}</td>
                                {% else %}
            
                                    {% if ITEM == "A" %}
                                        <td class="item__ocupacao item-amarelo">{{ITEM}}</td>
                                    {% else %}
                                        <td class="item__ocupacao vazio">.</td>
                                    {% endif %}
            
                                {% endif %}
            
                            {% endfor %}
                            </tr>
                            <!--#endregion-->

                            <!--#region RESTRICAO -->
                            {% for ITEM in CONTEUDO_TERMINAL.RESTRICAO %}
            
                                {% if ITEM != 0 %}
                                    <td class="item__restricao "><div class="restricao">.</div></td>
                                {% else %}
                                    <td class="item__restricao item-branco">. </td>
                                {% endif %}
                            {% endfor %}
                            </tr>
                            <!--#endregion-->

                        {% endfor %}
            
                        {%for TERMINAL, CONTEUDO_TERMINAL in RELATORIO.D1.PCZ.items %}

                            <!--#region PREFIXO -->
                            {% if forloop.first %}
                                {% with rowspan_value=RELATORIO.D1.PCZ|length|add:"0" %}
                                    {% with rowspan_value=rowspan_value|times:4 %}
                                        <th rowspan="{{ rowspan_value }}" class="MARGEM">PCZ</th>
                                    {% endwith %}
                                {% endwith %}
                            {% endif %}
                
                            <th class="TERMINAL" data-terminal="{{ TERMINAL }}" data-dia="D+1" rowspan=4 onclick="ABRIR_DESCARGA(this)">{{TERMINAL}}</th>
            
                            {% for ITEM in CONTEUDO_TERMINAL.PREFIXO %}
            
                                {% if ITEM != 0 %}
                                    <td class="item__prefixo">{{ ITEM|slice:":3" }}</td>
                                {% else %}
                                    <td class="item__prefixo item-branco">. </td>
                                {% endif %}
            
                            {% endfor %}
            
                            <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.PLANO.OFERTA }}         </td>
                            <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.PLANO.PEDRA }}          </td>
            
                            {% if CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE >  CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE %}
                                    
                                <td rowspan=4 class="PRODUTIVIDADE_COLUNA cor-verde"  title="{{ CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE }}    </td>
                        
                            {% else %}
            
                                {% if CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE >  CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE %}
                                    <td rowspan=4 class="PRODUTIVIDADE_COLUNA cor-vermelha"  title="{{ CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE }}    </td>
                                {% else %}  
                                    <td rowspan=4 class="PRODUTIVIDADE_COLUNA"  title="{{ CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE }}    </td>
                                {% endif %}
            
                            {% endif %}
            
                            {% if CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE > CONTEUDO_TERMINAL.PXO.OCIOSIDADE  %}
                                
                                <td rowspan=4 class="OCIOSIDADE_COLUNA cor-verde"  title="{{ CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.OCIOSIDADE }}    </td>
                        
                            {% else %}
            
                                {% if CONTEUDO_TERMINAL.PXO.OCIOSIDADE > CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE %}
                                    <td rowspan=4 class="OCIOSIDADE_COLUNA cor-vermelha"  title="{{ CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.OCIOSIDADE }}    </td>
                                {% else %}  
                                    <td rowspan=4 class="OCIOSIDADE_COLUNA"  title="{{ CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.OCIOSIDADE }}    </td>
                                {% endif %}
            
                            {% endif %}
            
                            <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.FILA_MEDIA }}           </td>
                            <td rowspan=4 class="coluna-indicador OPORTINIDADE_COLUNA">{{ CONTEUDO_TERMINAL.OPORTUNIDADE }}         </td>
                            <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.CAPACIDADE }}           </td>
                            </tr>
                            <!--#endregion-->

                            <!--#region FILA -->
                            {% for ITEM in CONTEUDO_TERMINAL.FILA %}
            
                                {% if ITEM > 0 %}
                                    <td class="item__fila cinza">{{ITEM}}</td>
                                {% else %}
                                    <td class="item__fila"></td>
                                {% endif %}
            
                            {% endfor %}
                            </tr>
                            <!--#endregion-->
                            
                            <!--#region OCUPACAO -->
                            {% for ITEM in CONTEUDO_TERMINAL.OCUPACAO %}
                                {% if ITEM == "V" %}
                                    <td class="item__ocupacao item-verde">{{ITEM}}</td>
                                {% else %}
            
                                    {% if ITEM == "A" %}
                                        <td class="item__ocupacao item-amarelo">{{ITEM}}</td>
                                    {% else %}
                                        <td class="item__ocupacao vazio">.</td>
                                    {% endif %}
            
                                {% endif %}
                            {% endfor %}
                            </tr>
                            <!--#endregion-->

                            <!--#region RESTRICAO -->
                            {% for ITEM in CONTEUDO_TERMINAL.RESTRICAO %}
                                {% if ITEM != 0 %}
                                    <td class="item__restricao "><div class="restricao">.</div></td>
                                {% else %}
                                    <td class="item__restricao item-branco">. </td>
                                {% endif %}
                            {% endfor %}
                            </tr>
                            <!--#endregion-->
                        
                        {% endfor %}

                        <!--#region TOTAIS-->    
                        <tr>
                            {{RELATORIO.D1.TOTitems}}
                            <td colspan="26" class="linha__total" onclick="abrir_total_detalhe('D+1')">TOTAL</td>
                            <td class="coluna__total">{{ RELATORIO.D1.TOTAIS.PLANO.OFERTA }}</td>
                            <td class="coluna__total">{{ RELATORIO.D1.TOTAIS.PLANO.PEDRA }}</td>
                            <td class="coluna__total">{{ RELATORIO.D1.TOTAIS.PXO.PRODUTIVIDADE }}</td>
                            <td class="coluna__total">{{ RELATORIO.D1.TOTAIS.PXO.OCIOSIDADE }}</td>
                            <td class="coluna__total">{{ RELATORIO.D1.TOTAIS.FILA_MEDIA }}</td>
                            <td class="coluna__total">{{ RELATORIO.D1.TOTAIS.OPORTUNIDADE }}</td>
                            <td class="coluna__total">{{ RELATORIO.D1.TOTAIS.CAPACIDADE }}</td>
                
                        </tr>
                        <!--#endregion-->
                    
                    </tbody>

                </table>
            
            </div>  

        </div>
      
        <div id="D2" class="tabcontent">

        <div id="D2">

        
            <h2>D+2</h2>
            
            <table>
                
                <thead>
            
                    <tr>
                        <th colspan="2" rowspan="2"> <img src="{% static 'imagens/logo-fips-vertical.png' %}" class="logo__ocupacao"></th>
                        <th colspan="24">   D       </th>
                        <th colspan="2">    PLANO   </th>
                        <th colspan="2">    PxO     </th>
                        <th>FILA </br>      MÉD     </th>
                        <th>OPORT.                  </th>
                        <th>CAP.                    </th>
                    </tr>
        
                    <tr>
                        <td>01h</td>
                        <td>02h</td>
                        <td>03h</td>    
                        <td>04h</td>
                        <td>05h</td>
                        <td>06h</td>
                        <td>07h</td>
                        <td>08h</td>
                        <td>09h</td>  
                        <td>10h</td>
                        <td>11h</td>
                        <td>12h</td>
                        <td>13h</td>
                        <td>14h</td>
                        <td>15h</td>
                        <td>16h</td>  
                        <td>17h</td>
                        <td>18h</td>
                        <td>19h</td>
                        <td>20h</td> 
                        <td>21h</td>
                        <td>22h</td>
                        <td>23h</td>
                        <td>24h</td>
                        
                        <td>OF</br> (vgs)</td>
                        <td>PD</br> (vgs)</td>
        
                        <td>PROD </br> (vgs/h)  </td>
                        <td>OCIOS</br> (h)      </td>
                        <td> (h/vg)             </td>
        
                        <td>(vgs)   </td>
                        <td>80%     </td>
                    </tr>
        
                </thead>
                
                <tbody>
        
                    {%for TERMINAL, CONTEUDO_TERMINAL in RELATORIO.D2.PSN.items %}
                        
                        <!--#region PREFIXO -->
                        {% if forloop.first %}
                            {% with rowspan_value=RELATORIO.D2.PSN|length|add:"0" %}
                                {% with rowspan_value=rowspan_value|times:4 %}
                                    <th rowspan="{{ rowspan_value }}" class="MARGEM">PSN</th>
                                {% endwith %}
                            {% endwith %}
                        {% endif %}
            
                        <th class="TERMINAL" data-terminal="{{ TERMINAL }}" data-dia="D+2" rowspan=4 onclick="ABRIR_DESCARGA(this)">{{TERMINAL}}</th>
        
                        {% for ITEM in CONTEUDO_TERMINAL.PREFIXO %}
        
                            {% if ITEM != 0 %}
                                <td class="item__prefixo">{{ ITEM|slice:":3" }}</td>
                            {% else %}
                                <td class="item__prefixo item-branco">. </td>
                            {% endif %}
                            
                        {% endfor %}
                            
                            <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.PLANO.OFERTA }}         </td>
                            <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.PLANO.PEDRA }}          </td>
                            
                            {% if CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE >  CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE %}
                                
                                <td rowspan=4 class="PRODUTIVIDADE_COLUNA cor-verde"  title="{{ CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE }}    </td>
                            
                            {% else %}
        
                                {% if CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE >  CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE %}
                                    <td rowspan=4 class="PRODUTIVIDADE_COLUNA cor-vermelha"  title="{{ CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE }}    </td>
                                {% else %}  
                                    <td rowspan=4 class="PRODUTIVIDADE_COLUNA"  title="{{ CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE }}    </td>
                                {% endif %}
        
                            {% endif %}
        
                            {% if CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE > CONTEUDO_TERMINAL.PXO.OCIOSIDADE  %}
                                
                                <td rowspan=4 class="OCIOSIDADE_COLUNA cor-verde"  title="{{ CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.OCIOSIDADE }}    </td>
                        
                            {% else %}
        
                                {% if CONTEUDO_TERMINAL.PXO.OCIOSIDADE > CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE %}
                                    <td rowspan=4 class="OCIOSIDADE_COLUNA cor-vermelha"  title="{{ CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.OCIOSIDADE }}    </td>
                                {% else %}  
                                    <td rowspan=4 class="OCIOSIDADE_COLUNA"  title="{{ CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.OCIOSIDADE }}    </td>
                                {% endif %}
        
                            {% endif %}
                        
        
                            <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.FILA_MEDIA }}           </td>
                            <td rowspan=4 class="coluna-indicador OPORTINIDADE_COLUNA">{{ CONTEUDO_TERMINAL.OPORTUNIDADE }}         </td>
                            <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.CAPACIDADE }}           </td>
        
                        </tr>
                        <!--#endregion-->
                        
                        <!--#region FILA -->
                        {% for ITEM in CONTEUDO_TERMINAL.FILA %}
                            
                            {% if ITEM > 0 %}
                                <td class="item__fila cinza">{{ITEM}}</td>
                            {% else %}
                                <td class="item__fila">.</td>
                            {% endif %}
        
                        {% endfor %}
                        </tr>
                        <!--#endregion-->

                        <!--#region OCUPACAO -->
                        {% for ITEM in CONTEUDO_TERMINAL.OCUPACAO %}
                            
                            {% if ITEM == "V" %}
                                <td class="item__ocupacao item-verde">{{ITEM}}</td>
                            {% else %}
        
                                {% if ITEM == "A" %}
                                    <td class="item__ocupacao item-amarelo">{{ITEM}}</td>
                                {% else %}
                                    <td class="item__ocupacao vazio">.</td>
                                {% endif %}
        
                            {% endif %}
        
                        {% endfor %}
                        </tr>
                        <!--#endregion-->

                        <!--#region RESTRICAO -->
                        {% for ITEM in CONTEUDO_TERMINAL.RESTRICAO %}
        
                            {% if ITEM != 0 %}
                                <td class="item__restricao "><div class="restricao">.</div></td>
                            {% else %}
                                <td class="item__restricao item-branco">. </td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                        <!--#endregion-->
                    
                    {% endfor %}
        
                    {%for TERMINAL, CONTEUDO_TERMINAL in RELATORIO.D2.PCZ.items %}

                        <!--#region PREFIXO -->
                        {% if forloop.first %}
                            {% with rowspan_value=RELATORIO.D2.PCZ|length|add:"0" %}
                                {% with rowspan_value=rowspan_value|times:4 %}
                                    <th rowspan="{{ rowspan_value }}" class="MARGEM">PCZ</th>
                                {% endwith %}
                            {% endwith %}
                        {% endif %}
            
                        <th class="TERMINAL" data-terminal="{{ TERMINAL }}" data-dia="D+2" rowspan=4 onclick="ABRIR_DESCARGA(this)">{{TERMINAL}}</th>
        
                        {% for ITEM in CONTEUDO_TERMINAL.PREFIXO %}
        
                            {% if ITEM != 0 %}
                                <td class="item__prefixo">{{ ITEM|slice:":3" }}</td>
                            {% else %}
                                <td class="item__prefixo item-branco">. </td>
                            {% endif %}
        
                        {% endfor %}
        
                        <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.PLANO.OFERTA }}         </td>
                        <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.PLANO.PEDRA }}          </td>
        
                        {% if CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE >  CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE %}
                                
                            <td rowspan=4 class="PRODUTIVIDADE_COLUNA cor-verde"  title="{{ CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE }}    </td>
                    
                        {% else %}
        
                            {% if CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE >  CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE %}
                                <td rowspan=4 class="PRODUTIVIDADE_COLUNA cor-vermelha"  title="{{ CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE }}    </td>
                            {% else %}  
                                <td rowspan=4 class="PRODUTIVIDADE_COLUNA"  title="{{ CONTEUDO_TERMINAL.PXO.META_PRODUTIVIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.PRODUTIVIDADE }}    </td>
                            {% endif %}
        
                        {% endif %}
        
                        {% if CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE > CONTEUDO_TERMINAL.PXO.OCIOSIDADE  %}
                            
                            <td rowspan=4 class="OCIOSIDADE_COLUNA cor-verde"  title="{{ CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.OCIOSIDADE }}    </td>
                    
                        {% else %}
        
                            {% if CONTEUDO_TERMINAL.PXO.OCIOSIDADE > CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE %}
                                <td rowspan=4 class="OCIOSIDADE_COLUNA cor-vermelha"  title="{{ CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.OCIOSIDADE }}    </td>
                            {% else %}  
                                <td rowspan=4 class="OCIOSIDADE_COLUNA"  title="{{ CONTEUDO_TERMINAL.PXO.META_OCIOSIDADE }}"> {{ CONTEUDO_TERMINAL.PXO.OCIOSIDADE }}    </td>
                            {% endif %}
        
                        {% endif %}
                        

                        <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.FILA_MEDIA }}           </td>
                        <td rowspan=4 class="coluna-indicador OPORTINIDADE_COLUNA">{{ CONTEUDO_TERMINAL.OPORTUNIDADE }}         </td>
                        <td rowspan=4 class="coluna-indicador">{{ CONTEUDO_TERMINAL.CAPACIDADE }}           </td>
                        </tr>
                        <!--#endregion-->
                        
                        <!--#region FILA -->
                        {% for ITEM in CONTEUDO_TERMINAL.FILA %}
        
                            {% if ITEM > 0 %}
                                <td class="item__fila cinza">{{ITEM}}</td>
                            {% else %}
                                <td class="item__fila"></td>
                            {% endif %}
        
                        {% endfor %}
                        </tr>
                        <!--#endregion-->

                        <!--#region OCUPACAO -->
                        {% for ITEM in CONTEUDO_TERMINAL.OCUPACAO %}
                            {% if ITEM == "V" %}
                                <td class="item__ocupacao item-verde">{{ITEM}}</td>
                            {% else %}
        
                                {% if ITEM == "A" %}
                                    <td class="item__ocupacao item-amarelo">{{ITEM}}</td>
                                {% else %}
                                    <td class="item__ocupacao vazio">.</td>
                                {% endif %}
        
                            {% endif %}
                        {% endfor %}
                        </tr>
                        <!--#endregion-->
                        
                        <!--#region RESTRICAO -->
                        {% for ITEM in CONTEUDO_TERMINAL.RESTRICAO %}
                            {% if ITEM != 0 %}
                                <td class="item__restricao "><div class="restricao">.</div></td>
                            {% else %}
                                <td class="item__restricao item-branco">. </td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                        <!--#endregion-->
                       
                    {% endfor %}
                
                <!--#region TOTAIS-->        
                <tr>
                    {{RELATORIO.D2.TOTitems}}
                    <td colspan="26" class="linha__total" onclick="abrir_total_detalhe('D+2')">TOTAL</td>
                    <td class="coluna__total">{{ RELATORIO.D2.TOTAIS.PLANO.OFERTA }}</td>
                    <td class="coluna__total">{{ RELATORIO.D2.TOTAIS.PLANO.PEDRA }}</td>
                    <td class="coluna__total">{{ RELATORIO.D2.TOTAIS.PXO.PRODUTIVIDADE }}</td>
                    <td class="coluna__total">{{ RELATORIO.D2.TOTAIS.PXO.OCIOSIDADE }}</td>
                    <td class="coluna__total">{{ RELATORIO.D2.TOTAIS.FILA_MEDIA }}</td>
                    <td class="coluna__total">{{ RELATORIO.D2.TOTAIS.OPORTUNIDADE }}</td>
                    <td class="coluna__total">{{ RELATORIO.D2.TOTAIS.CAPACIDADE }}</td>
        
                </tr>
                 <!--#endregion-->
                
                </tbody>

            </table>
            
        </div>   

        </div>

    {% if RELATORIO %}

      
    {% else %}

        <div class="SEM_RELATORIO">
            <img src="{% static 'imagens/caixa-vazia.png' %}" >
            <h3>Não há previsões.</h3>
        </div>

    {% endif %}

</div>


<dialog ID="MODAL_DESCARGA">

</dialog>

<script>

    function abrir_total_detalhe(dia_logistico){
        $.ajax({
            url: '{% url "ocupacao_terminais" %}',
            type: 'GET',
            data: {
                'acao'                  : "baixar_total_detalhe",
                'csrfmiddlewaretoken'   : "{{ csrf_token }}",
                'dia_logistico'         : dia_logistico
            },
            success:  function(response)  {

                const dialog = document.querySelector("#MODAL_DESCARGA");
                dialog.showModal()
                dialog.innerHTML = response.html_totais_relatorio_detalhe
            
            },
            error:    function(xhr)       {alert("ERR")}
        });
    }

    function ABRIR_DESCARGA(CELULA_CLICADA){

    
        $.ajax({
            url: '/ocupacao_terminais/',
            type: 'GET',
            data: {
                'ACAO'                  : "VIZUALIZAR_DESCARGA",
                'csrfmiddlewaretoken'   : "{{ csrf_token }}",
                'TERMINAL'              : CELULA_CLICADA.dataset.terminal,
                'DIA_LOGISTICO'         : CELULA_CLICADA.dataset.dia
            },
            success:  function(TABELA_DESCARGA)  {


                const MODAL = document.querySelector("#MODAL_DESCARGA");
                MODAL.showModal()
                MODAL.innerHTML = TABELA_DESCARGA
            
            },
            error:    function(xhr)       {alert("ERR")}
        });
        
    }
    
    document.querySelector('dialog').addEventListener('mousedown', event => {

    if (event.target === event.currentTarget) {
        event.currentTarget.close()
    }

    })

</script>
{% endblock %}




