{% extends 'main.html' %}
{% block content %}
{% load static %}
{% load permission_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'css/criar_trem/tabela_previsao.css' %}"> 
<script src="{% static 'javascript/CRIAR_TREM/main.js' %}" defer></script>


<!--#region formulário de criar trem-->
{% if TIPO_FORMULARIO != 'dividir_trem'%}
<dialog id="modal_criar_trem">

    <h2></h2>

    <form method="post">
        
        {% csrf_token %}

        <div>
            <p>*Informações do Trem</p>
            
            {{ form.prefixo     }}
            {{ form.os          }}
            {{ form.vagoes      }}</br>
            {{ form.mercadoria  }}
            
            <div class="FERROVIAS">{{ form.ferrovia }}</div>  
        </div>
        
        <div>
            <p>*Informações do Deslocamento</p>
            {{ form.origem  }}
            {{ form.local   }}
            {{ form.destino }}
        </div>

        <div>
            <p>*Previsão</p>
            {{ form.terminal }}
            {{ form.previsao }}
        </div>

        {{ form.comentario }}</br>
        
        <input id="TIPO_FORMULARIO" type="hidden" name="TIPO_FORMULARIO" value="">

        <input type="checkbox" id="ckbSemPrevisao" class="ckbox" name="sem_previsao" >
        <label for="ckbSemPrevisao" class="ckbox">Este trem não possui previsão.</label></br>

        {% if form.non_field_errors %}
        <ul class="errorlist">
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <button type="submit" class="BOTAO VERDE" >Salvar</button>
    </form>

   

</dialog>
{% endif %}
<!--#endregion-->

<!--#region formulário de dividir trem-->
<dialog id="modal_dividir_trem">

    <h2>Dividir Trem</h2>
    <form method="post">
        {% csrf_token %}
        <fieldset class="fst-trem-info">
            <legend>Trem</legend>
            {{form.prefixo}}
            {{form.os}}
            {{form.origem}}
            {{form.ferrovia}}
        </fieldset>

        <fieldset class="fst-trem-info">
            <legend>Parte 01</legend>

            {{form.destino1}}
            {{form.mercadoria1}}
            {{form.terminal1}}
            {{form.vagoes1}}
            {{form.previsao1}}
        
        </fieldset>    

        <fieldset class="fst-trem-info">
            <legend>Parte 02</legend>

            {{form.destino2}}
            {{form.mercadoria2}}
            {{form.terminal2}}
            {{form.vagoes2}}
            {{form.previsao2}}
        
        </fieldset>    

        {% if form.non_field_errors %}
        <ul class="errorlist">
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <button type="submit" class="BOTAO VERDE" >Salvar</button>

    </form>
</dialog>
<!--#endregion-->


<div class="CONTEUDO__PADRAO">  

    <h1>PREVISÃO DE TRENS</h1>
    
    {% if user|can:'editar_itens' %}
    
    <button type="button"  data-acao="CRIAR_TREM" data-criar-trem-url="{% url 'novo_trem_previsao' %}" class="BOTAO BTN__CRIAR__TREM" data-toggle="modal" data-target="#modalAdicionarTrem" onclick="criar_trem()">
        Novo Trem
    </button>

    {% endif %}
    
    {% if TABELAS %}

        {% for DIA_LOGISTICO, PREVISAO in TABELAS.items %}

            <h2>{{ DIA_LOGISTICO }}</h2>

            <table id="{{DIA_LOGISTICO}}" class="LISTA__TRENS" >
                
                <thead>

                    <th class="COL_PP">                     </th>
                    <th class="COL_P">          PREF        </th>
                    <th class="COL_M os">       OS          </th>
                    <th class="COL_P origem">   ORIGEM      </th>
                    <th class="COL_P local">    LOCAL       </th>
                    <th class="COL_P destino">  DESTINO     </th>
                    <th class="COL_M">          TERMINAL    </th>
                    <th class="COL_P">          VAGÕES      </th>
                    <th class="COL_M">          MERCADORIA  </th>
                    <th class="COL_G previsao"> PREVISÃO    </th>
                    <th class="COL_P COMENTARIO" onclick="TOOGLE_COMENTARIO()">
                    
                        {% if user|can:'editar_itens' %}

                        <svg height="2rem" viewBox="-2.4 -2.4 28.80 28.80" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" fill="#C0CCD2" transform="matrix(1, 0, 0, 1, 0, 0)rotate(0)">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#C0CCD2" stroke-width="0.288">
    
                            </g>
                            <g id="SVGRepo_iconCarrier">
                                <defs>
                                    <style>.cls-1{fill:none;stroke:#C0CCD2;stroke-miterlimit:10;stroke-width:2.184;}</style>
                                </defs>
                                <path class="cls-1" d="M1.5,5.3v9.54a3.82,3.82,0,0,0,3.82,3.82H7.23v2.86L13,18.66h5.73a3.82,3.82,0,0,0,3.82-3.82V5.3a3.82,3.82,0,0,0-3.82-3.82H5.32A3.82,3.82,0,0,0,1.5,5.3Z">
    
                                </path>
                                <line class="cls-1" x1="15.82" y1="10.07" x2="17.73" y2="10.07"></line>
                                <line class="cls-1" x1="11.05" y1="10.07" x2="12.95" y2="10.07"></line>
                                <line class="cls-1" x1="6.27"  y1="10.07" x2="8.18"  y2="10.07"></line>
                            </g>
                        </svg>
                        {% endif %}
                    </th>
                    {% if user|can:'editar_itens' %}
                    <th id="COLUNA_BOTOES botoes" class="COL_P" colspan=3> 
                        <a href="{% url 'excluir_dia_inteiro' DIA_LOGISTICO %}">
                            <svg class="ICONE ICONE_DELETAR botoes" id="Layer_1" data-name="Layer 1" data-id="{{ TREM.id }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110.61 122.88">
                                <title>Excluir</title>
                                <path d="M39.27,58.64a4.74,4.74,0,1,1,9.47,0V93.72a4.74,4.74,0,1,1-9.47,0V58.64Zm63.6-19.86L98,103a22.29,22.29,0,0,1-6.33,14.1,19.41,19.41,0,0,1-13.88,5.78h-45a19.4,19.4,0,0,1-13.86-5.78l0,0A22.31,22.31,0,0,1,12.59,103L7.74,38.78H0V25c0-3.32,1.63-4.58,4.84-4.58H27.58V10.79A10.82,10.82,0,0,1,38.37,0H72.24A10.82,10.82,0,0,1,83,10.79v9.62h23.35a6.19,6.19,0,0,1,1,.06A3.86,3.86,0,0,1,110.59,24c0,.2,0,.38,0,.57V38.78Zm-9.5.17H17.24L22,102.3a12.82,12.82,0,0,0,3.57,8.1l0,0a10,10,0,0,0,7.19,3h45a10.06,10.06,0,0,0,7.19-3,12.8,12.8,0,0,0,3.59-8.1L93.37,39ZM71,20.41V12.05H39.64v8.36ZM61.87,58.64a4.74,4.74,0,1,1,9.47,0V93.72a4.74,4.74,0,1,1-9.47,0V58.64Z"/>
                            </svg>
                            </th>
                    {% endif %}
                </thead>
                
                {% if user|can:'editar_itens' %}
                    
                    {% if DIA_LOGISTICO != "SEM PREVISÃO" %}
                        <tbody {% if DIA_LOGISTICO != "SEM PREVISÃO" %} class="ui-sortable" {% endif %}>
                    {% else %}
                        <tbody> 
                    {% endif %}

                    {% for TREM in PREVISAO %}

                        {% if  DIA_LOGISTICO != "SEM PREVISÃO" %}
                            <tr onclick="SELECIONAR_TREM('{{ TREM.id }}')" class="trem ui-sortable-handle">
                        {% else %}
                            <tr >   
                        {% endif %}
                        
                            <td class="COL_PP posicao"> {{ TREM.posicao_previsao }}</td>
                            <td class="COL_P">          {{ TREM.prefixo     }}</td>
                            <td class="COL_M os">       {{ TREM.os          }}</td>
                            <td class="COL_P origem">   {{ TREM.origem      }}</td>
                            <td class="COL_P local">    {{ TREM.local       }}</td>
                            <td class="COL_P destino">  {{ TREM.destino     }}</td>
                            <td class="COL_M">          {{ TREM.terminal    }}</td>
                            <td class="COL_P">          {{ TREM.vagoes      }}</td>
                            <td class="COL_M">          {{ TREM.mercadoria  }}</td>       
                            <td class="COL_G previsao"> {{ TREM.previsao | date:"d/m/Y H:i" }}</td>
                            <td><div class="CONTEUDO_COMENTARIO DESATIVADO">{{ TREM.comentario }}<div></td>
                            
                            <td>    
                                {% if  DIA_LOGISTICO != "SEM PREVISÃO" %}
                                <a href="{% url 'dividir_trem' TREM.id %}">
                                <svg class="ICONE ICONE_DIVIDIR botoes" height="2rem" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#C0CCD2" transform="rotate(0)matrix(1, 0, 0, 1, 0, 0)">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.144">
        
                                    </g>
                                    <g id="SVGRepo_iconCarrier"> 
        
                                        <path d="M6 3L6 11" stroke="#C0CCD2" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round">
                                        </path> 

                                        <path d="M3 6L5.91296 3.08704V3.08704C5.96103 3.03897 6.03897 3.03897 6.08704 3.08704V3.08704L9 6" stroke="#C0CCD2" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round">
                                        </path> 
                                        
                                        <path d="M18 7L20.913 9.91296V9.91296C20.961 9.96103 20.961 10.039 20.913 10.087V10.087L18 13" stroke="#C0CCD2" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round">
                                        </path> 
                                        
                                        <path d="M20 10H16.5C10.701 10 6 14.701 6 20.5V21" stroke="#C0CCD2" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round">
                                        </path> 
        
                                    </g>
                                </svg>
                                </a>
                            {% else %}
                                <svg  class="ICONE" width="2rem" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#C0CCD2" transform="rotate(0)matrix(1, 0, 0, 1, 0, 0)">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="transparent" stroke-width="0.144">
        
                                    </g>
                                    <g id="SVGRepo_iconCarrier"> 
        
                                        <path d="M6 3L6 11" stroke="transparent" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round">
                                        </path> 

                                        <path d="M3 6L5.91296 3.08704V3.08704C5.96103 3.03897 6.03897 3.03897 6.08704 3.08704V3.08704L9 6" stroke="transparent" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round">
                                        </path> 
                                        
                                        <path d="M18 7L20.913 9.91296V9.91296C20.961 9.96103 20.961 10.039 20.913 10.087V10.087L18 13" stroke="transparent" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round">
                                        </path> 
                                        
                                        <path d="M20 10H16.5C10.701 10 6 14.701 6 20.5V21" stroke="transparent" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round">
                                        </path> 
        
                                    </g>
                                </svg>   
                            {% endif %}
                                
                            
                            </td>
        
                            <td>
                                <a href="{% url 'excluir_trem' TREM.id %}">
                                <svg class="ICONE ICONE_DELETAR botoes" id="Layer_1" data-name="Layer 1" data-id="{{ TREM.id }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110.61 122.88">
                                    <title>Excluir</title>
                                    <path d="M39.27,58.64a4.74,4.74,0,1,1,9.47,0V93.72a4.74,4.74,0,1,1-9.47,0V58.64Zm63.6-19.86L98,103a22.29,22.29,0,0,1-6.33,14.1,19.41,19.41,0,0,1-13.88,5.78h-45a19.4,19.4,0,0,1-13.86-5.78l0,0A22.31,22.31,0,0,1,12.59,103L7.74,38.78H0V25c0-3.32,1.63-4.58,4.84-4.58H27.58V10.79A10.82,10.82,0,0,1,38.37,0H72.24A10.82,10.82,0,0,1,83,10.79v9.62h23.35a6.19,6.19,0,0,1,1,.06A3.86,3.86,0,0,1,110.59,24c0,.2,0,.38,0,.57V38.78Zm-9.5.17H17.24L22,102.3a12.82,12.82,0,0,0,3.57,8.1l0,0a10,10,0,0,0,7.19,3h45a10.06,10.06,0,0,0,7.19-3,12.8,12.8,0,0,0,3.59-8.1L93.37,39ZM71,20.41V12.05H39.64v8.36ZM61.87,58.64a4.74,4.74,0,1,1,9.47,0V93.72a4.74,4.74,0,1,1-9.47,0V58.64Z"/>
                                </svg>
                                </a>
                            </td>
                            <td >
                                <a href="{% url 'editar_trem' TREM.id %}">
                                <svg  version="1.1" id="Capa_1" class="ICONE ICONE_EDITAR botoes" viewBox="0 0 348.882 348.882" xml:space="preserve">\
                                    <title>Editar</title>
                                    <g>
                                        <path d="M333.988,11.758l-0.42-0.383C325.538,4.04,315.129,0,304.258,0c-12.187,0-23.888,5.159-32.104,14.153L116.803,184.231
                                            c-1.416,1.55-2.49,3.379-3.154,5.37l-18.267,54.762c-2.112,6.331-1.052,13.333,2.835,18.729c3.918,5.438,10.23,8.685,16.886,8.685
                                            c0,0,0.001,0,0.001,0c2.879,0,5.693-0.592,8.362-1.76l52.89-23.138c1.923-0.841,3.648-2.076,5.063-3.626L336.771,73.176
                                            C352.937,55.479,351.69,27.929,333.988,11.758z M130.381,234.247l10.719-32.134l0.904-0.99l20.316,18.556l-0.904,0.99
                                            L130.381,234.247z M314.621,52.943L182.553,197.53l-20.316-18.556L294.305,34.386c2.583-2.828,6.118-4.386,9.954-4.386
                                            c3.365,0,6.588,1.252,9.082,3.53l0.419,0.383C319.244,38.922,319.63,47.459,314.621,52.943z"/>
                                        <path d="M303.85,138.388c-8.284,0-15,6.716-15,15v127.347c0,21.034-17.113,38.147-38.147,38.147H68.904
                                            c-21.035,0-38.147-17.113-38.147-38.147V100.413c0-21.034,17.113-38.147,38.147-38.147h131.587c8.284,0,15-6.716,15-15
                                            s-6.716-15-15-15H68.904c-37.577,0-68.147,30.571-68.147,68.147v180.321c0,37.576,30.571,68.147,68.147,68.147h181.798
                                            c37.576,0,68.147-30.571,68.147-68.147V153.388C318.85,145.104,312.134,138.388,303.85,138.388z"/>
                                    
                                    </g>
                                </svg>
                                </a>
                            </td>
        

        
                        </tr >
                        
                    {% endfor %}
                    
                </tbody>
                {% else %}

                <tbody>  
    
                    {% for TREM in PREVISAO %}

                        <tr>

                            <td class="COL_PP posicao">{{ TREM.posicao_previsao }}</td>
                            <td class="COL_P">{{  TREM.prefixo     }}</td>
                            <td class="COL_M">{{  TREM.os          }}</td>
                            <td class="COL_P">{{  TREM.origem      }}</td>
                            <td class="COL_P">{{  TREM.local       }}</td>
                            <td class="COL_P">{{  TREM.destino     }}</td>
                            <td class="COL_M">{{  TREM.terminal    }}</td>
                            <td class="COL_P">{{  TREM.vagoes      }}</td>
                            <td class="COL_M">{{  TREM.mercadoria  }}</td>       
                            <td class="COL_G">{{  TREM.previsao | date:"d/m/Y H:i" }}</td>
                            <td colspan="3"><div class="CONTEUDO_COMENTARIO ">{{ TREM.comentario }}<div></td>
                            
                        </tr >
                        
                    {% endfor %}
                    
                </tbody>
                {% endif %}
            </table>

        {% endfor %}

    {% else %}

        <div class="SEM_NAVEGACAO">
            <img src="{% static 'imagens/caixa-vazia.png' %}" >
            <h3>Não há previsões.</h3>
        </div>
        
    {% endif %}
    
</div>

<!--#region abrir modal editar trem-->
{% if TIPO_FORMULARIO == 'editar_trem' %}
<script>
    window.addEventListener('load', function(){
        
        //obtendo a id do trem
        let url         = new URL(window.location.href);
        let pathParts   = url.pathname.split('/');
        pathParts       = pathParts.filter(part => part.length > 0);
        let id_trem     = pathParts[pathParts.length - 1];

        //ajustando url
        window.history.replaceState({}, '', '/previsao/previsao_trens');

        var modal   = document.getElementById("modal_criar_trem");
        var titulo  = modal.querySelector('h2');
        var form    = modal.querySelector('form');

        titulo.textContent = "Editar Trem";
        modal.showModal()
        form.action        = `/previsao/editar_trem/${id_trem}`;
        
    });
</script>
{% endif %}
<!--#endregion-->



<!--#region abrir modal editar_trem-->
{% if TIPO_FORMULARIO == 'dividir_trem' %}
<script>
    window.addEventListener('load', function(){
        
        //obtendo a id do trem
        let url         = new URL(window.location.href);
        let pathParts   = url.pathname.split('/');
        pathParts       = pathParts.filter(part => part.length > 0);
        let id_trem     = pathParts[pathParts.length - 1];

        //ajustando url
        window.history.replaceState({}, '', '/previsao/previsao_trens');

        var modal   = document.getElementById("modal_dividir_trem");
        var form    = modal.querySelector('form');


        modal.showModal()
        form.action        = `/previsao/dividir_trem/${id_trem}`;
        
    });
</script>
{% endif %}
<!--#endregion-->

<!--#region abrir modal criar criar_trem-->
{% if TIPO_FORMULARIO == 'criar_trem' %}
<script>
    window.addEventListener('load', function(){
        //ajustando url
        window.history.replaceState({}, '', '/previsao/previsao_trens');
    
        var modal   = document.getElementById("modal_criar_trem");
        var titulo  = modal.querySelector('h2');
        var form    = modal.querySelector('form');

        titulo.textContent = "Criar Trem";
        modal.showModal()
        form.action        = "{% url 'novo_trem_previsao' %}";
    });
    
</script>
{% endif %}
<!--#endregion-->


<script>

//#region fechar modal
document.querySelector('dialog').addEventListener('mousedown', event => {

if (event.target === event.currentTarget) {
    event.currentTarget.close()
}

})
//#endregion

//#region btn-abrir-criar-trem

function criar_trem(){
        
    var modal   = document.getElementById("modal_criar_trem");
    var titulo  = modal.querySelector('h2');
    var form    = modal.querySelector('form');
    
    titulo.textContent  = "Criar Trem";
    form.action         = "{% url 'novo_trem_previsao' %}"
    form.reset()
    modal.showModal()    
}

//#endregion

//#region atualizar dropbox terminais e mercadorias

function updateTerminals() {
    
    var mercadoria = document.getElementById('id_mercadoria').value;
    var terminalSelect = document.getElementById('id_terminal');

    $.ajax({
        url: '/get-terminals/',  // Certifique-se de que esta URL esteja correta
        data: {
            'mercadoria': mercadoria
        },
        success: function(data) {
            terminalSelect.innerHTML = '';  // Limpa as opções existentes

            data.forEach(function(terminal) {
                var option = document.createElement('option');
                option.value = terminal.id;
                option.text = terminal.nome;
                terminalSelect.appendChild(option);
            });
        },
        error: function(xhr, status, error) {
            console.log("Erro ao carregar os terminais: ", error); // Mensagem de erro no console
        }
    });
}

function updateTerminals1() {
    
    var mercadoria = document.getElementById('id_mercadoria1').value;
    var terminalSelect = document.getElementById('id_terminal1');

    $.ajax({
        url: '/get-terminals/',  // Certifique-se de que esta URL esteja correta
        data: {
            'mercadoria': mercadoria
        },
        success: function(data) {
            terminalSelect.innerHTML = '';  // Limpa as opções existentes

            data.forEach(function(terminal) {
                var option = document.createElement('option');
                option.value = terminal.id;
                option.text = terminal.nome;
                terminalSelect.appendChild(option);
            });
        },
        error: function(xhr, status, error) {
            console.log("Erro ao carregar os terminais: ", error); // Mensagem de erro no console
        }
    });
}

function updateTerminals2() {
    
    var mercadoria = document.getElementById('id_mercadoria2').value;
    var terminalSelect = document.getElementById('id_terminal2');

    $.ajax({
        url: '/get-terminals/',  // Certifique-se de que esta URL esteja correta
        data: {
            'mercadoria': mercadoria
        },
        success: function(data) {
            terminalSelect.innerHTML = '';  // Limpa as opções existentes

            data.forEach(function(terminal) {
                var option = document.createElement('option');
                option.value = terminal.id;
                option.text = terminal.nome;
                terminalSelect.appendChild(option);
            });
        },
        error: function(xhr, status, error) {
            console.log("Erro ao carregar os terminais: ", error); // Mensagem de erro no console
        }
    });
}

//#endregion

</script>

{% if user|can:'editar_itens' %}
<script>

    var TREM_SELECIONADO = null

    function SELECIONAR_TREM(id_trem){
        TREM_SELECIONADO = id_trem
    }


    $( function() {

        $( "tbody.ui-sortable" ).sortable({
            placeholder: 'FUNDO_LARANJA',
            axis: "y",
            revert: 150,

            start: function(event, ui) {

                // Armazena a posição inicial em um atributo de dados
                var startPos = ui.item.index();
                ui.item.data('start_pos', startPos);
            },
            stop: function(event, ui) {

                var endPos      = ui.item.index();               // Posição final após soltar
        
                $.ajax({
                    url: '{% url "alterar_posicao" %}',
                    type: 'POST',
                    data: {
                        "new_position"          : endPos,
                        "trem"                  : TREM_SELECIONADO,
                        'csrfmiddlewaretoken'   : "{{ csrf_token }}"
                    },
                    success: function(response) {
                        location.reload();
                    },
                    error: function(xhr) {
                        console.log('NAO OK');
                    }
                });         
            }}
        );

    });

</script>
{% endif %}


{% endblock %}