



.LISTA__TRENS  {
    border-collapse: collapse;
    user-select: none;
    margin-bottom: 2vh;
    font-size: 0.8rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 
                0 1px 2px rgba(0,0,0,0.24);
}

.LISTA__TRENS tbody {border-collapse: collapse;}

.LISTA__TRENS th, .LISTA__TRENS td{text-align: center;}


.LISTA__TRENS tbody tr:nth-child(even)        {background-color: #f2f2f2;}
.LISTA__TRENS tbody tr:nth-child(odd)         {background-color: #ffff;  }
.LISTA__TRENS tbody tr:nth-child(even):hover  {background-color: #c1d5d4;}
.LISTA__TRENS tbody tr:nth-child(odd):hover   {background-color: #c1d5d4;}


.LISTA__TRENS thead th{ height: 2.5rem; background-color: var(--azul-profundo-m); color: white;}

.LISTA__TRENS thead th:first-child { border-radius: 10px 0 0 0; }
.LISTA__TRENS thead th:last-child  { border-radius: 0 10px 0 0; }

.LISTA__TRENS tbody tr:last-child td:first-child { border-radius: 0 0 0 10px; }
.LISTA__TRENS tbody tr:last-child td:last-child  { border-radius: 0 0 10px 0; }

.LISTA__TRENS tbody tr{ height: 2rem; }

.LISTA__TRENS td { padding:0.2rem 0; }
.LISTA__TRENS th { padding:0.5rem 0; }

.COL_PP { min-width: 3rem;  }
.COL_P  { min-width: 4rem;  }
.COL_M  { width: 8rem;      }
.COL_G  { width: 15rem;     }


.BTN__CRIAR__TREM{
    background-color: var(--amarelo-ouro-e);
    color: var(--neutro);
    margin: 1rem 0;
}

.BTN__CRIAR__TREM:hover{ background-color: var(--amarelo-ouro-m);}


.ICONE_DELETAR{ 
    height: 1.5rem; 
    cursor: pointer; 
    fill: var(--cinza-chumbo-c);     
    padding: 0 0.5rem;
}

.ICONE_DELETAR:hover{fill: darkred;}

.ICONE_EDITAR       {  width: 1.5rem; fill: var(--cinza-chumbo-c); cursor: pointer; padding: 0 0.2rem;}
.ICONE_EDITAR:hover {  fill: var(--cinza-chumbo-m); }

.ICONE_DIVIDIR              { width: 2.5rem; color: var(--cinza-chumbo-c); cursor: pointer; margin-left: 0.5rem;}
.ICONE_DIVIDIR:hover path   { stroke: var(--cinza-chumbo-e) ;}

.COMENTARIO{cursor: pointer;}
.COMENTARIO:hover .cls-1{stroke: var(--amarelo-ouro-m)}
.CONTEUDO_COMENTARIO {padding: 0.4rem 0.9rem;}


.DESATIVADO{display: none;}



.INPUT_P{max-width: 10.9rem; min-width:  10.9rem;}
.INPUT_M{max-width: 16.5rem; min-width:  16.5rem;}
.INPUT_G{max-width: 33.2rem; min-width: 33.2rem; margin-top: 0.5vh;}


.SEM_NAVEGACAO{

    height: fit-content;
    margin: auto;
    text-align: center;
}

.SEM_NAVEGACAO img{
    
    width: 20%;
}

.FERROVIAS, #id_margem{padding: 0.5rem  0 2rem  0}
.FERROVIAS div{ display: flex;  float: left; width: 100%;} 

#id_margem div{ display: flex;  float: left; width: 50%;} 

#DIVIDIR_TREM .BOTAO{    
    margin-left: 100%;
    transform: translateX(-100%);
}

.TABELA_DIVIDIR_TREM th{ 
    padding: 0.5rem 0; 
    background-color: var(--cinza-chumbo-e); 
    color: var(--neutro)
}

.TABELA_DIVIDIR_TREM{
    border-collapse: collapse;  
    margin:            2rem 0;  
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 
                0 1px 2px rgba(0,0,0,0.24);
}

.TABELA_DIVIDIR_TREM td{
    padding: 0.5rem;
}

.TABELA_DIVIDIR_TREM .INPUT_P{ min-width: 4.9rem; max-width: 4.9rem !important}
.TABELA_DIVIDIR_TREM .INPUT_G{ min-width: 10rem !important}
.TABELA_DIVIDIR_TREM .INPUT_M{ min-width: 10rem !important}

.FUNDO_LARANJA{background-color: var(--amarelo-ouro-m) !important ; height: 2rem;}

#FORM_DIVIDIR_TREM, #FORM_TREM_PADRAO {display: none}

.modal_trem_vazio .BOTAO {margin-top: 1rem;}


.letra_pqn{font-size: 0.7rem !important; padding: 0px 5px !important;}
.frm_botao{ margin: 0; padding: 0;}
.btn_inivsivel{

    border: none;
    margin: 0; 
    padding: 0;
    background-color: transparent ;
}

#modal_criar_trem{ max-width: 28vw;}

@media (max-width: 768px) {

    .COL_PP {min-width: 1.7rem !important;}
    .COL_P {min-width: 1rem !important;}
    .CONTEUDO__PADRAO{ width: 95vw;}
    .BTN__CRIAR__TREM, .os, .origem,.local,.destino, .COMENTARIO, .botoes {display: none;}


    
}

fieldset {
    font-family: "Saira Expanded", Arial, sans-serif;
    border: 1px solid #868686; /* Cor da borda */
    border-radius: 3px; /* Bordas arredondadas */
}

fieldset input,
fieldset select{
    width: fit-content;
    padding: 5px;
    text-align: center;
    min-width: 3rem;
    max-width: 7rem;
}

#id_previsao1, #id_previsao2 {min-width: 13rem; padding: 3.5px;}

#modal_dividir_trem .BOTAO {margin-top: 10px;}


#filtro{
    padding: 7px;
    margin: 10px 0;
}