
body{
    margin:       0 auto;
    user-select:    none;
    display:        flex;
    cursor:      default;
    overflow:     hidden;

}
.conteudo__navegacao{
    width:     100vw;
    height:     91vh;
    margin-top:  9vh;  
    display:    flex;
    overflow-x: auto;
}

.um__dia{
    height: fit-content;
    padding: 0 1rem;
}
.uma__descarga{

    padding: 0.5rem;
}


.SEM_NAVEGACAO{

    height: fit-content;
    margin: auto;
    text-align: center;
}

.SEM_NAVEGACAO img{

    width: 50%;
}

.header__navegacao{
    width: 100%;
    position: fixed;
    height: 5.1rem;
    background-color: rgb(235, 234, 234);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: inline;
}    

.tabela__margens{
    border: 1px dashed red;
     margin-left: 50.0%;
    transform: translateX(-47%);
    background-color: var(--azul-ceu-c);
    border: var(--borda-padrao);
    font-weight: bold;
    border-collapse: collapse;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tabela__margens tr:first-child td:first-child,
.tabela__margens tr:first-child{
    color: white;
    background-color: var( --azul-profundo-m);
}

.tabela__margens tr:nth-child(2) td:first-child,
.tabela__margens tr:nth-child(3) td:first-child{
    background-color: var(--azul-ceu-e);
}

.tabela__margens td{ 

    min-width: 2rem; 
    font-size: 0.7rem; 
    text-align: center; 
}

.uma__margem{
    position: -webkit-sticky;
    position: sticky;
    top:0.5rem;
    font-size: 20px;
    
}

.tabela__margens .COL_01{
    min-width: 4rem;
}

.um__dia .uma__descarga:nth-child(2) {
    margin-top: 8vh;
}

.tabela__margens tr:first-child td:nth-child(7),
.tabela__margens tr:nth-child(2) td:nth-child(7),
.tabela__margens tr:nth-child(3) td:nth-child(7),
.tabela__margens tr:first-child td:nth-child(13),
.tabela__margens tr:nth-child(2) td:nth-child(13),
.tabela__margens tr:nth-child(3) td:nth-child(13),
.tabela__margens tr:first-child td:nth-child(19),
.tabela__margens tr:nth-child(2) td:nth-child(19),
.tabela__margens tr:nth-child(3) td:nth-child(19)
{
    border-right: 2px dashed darkgrey;
}


@media screen and (orientation: portrait) {
    .conteudo__navegacao{
        width:     100vw;
        height:     97vh;
        margin-top:  3vh;  
        display:    flex;
        overflow-x: auto;
    }

    .um__dia .uma__descarga:nth-child(2) {
        margin-top: 3vh;
    }
    
}