
body{
    user-select: none;
}

.SEM_RELATORIO img{
    
    width: 20%;
}


.SEM_RELATORIO{

    height: fit-content;
    margin: auto;
    text-align: center;
}

table{ border-collapse: collapse; font-family: "Saira Expanded" , Arial, sans-serif; }
thead th, thead td{ background-color: var(--azul-profundo-m); color: white; font-size: 0.8rem; padding: 0 5px; text-align: center; border: 1px solid white }
.borda_cinza{ border: 1px solid lightgray;}
.logo__ocupacao{ height: 60px; margin: 10px 5px;}

tbody th{ text-align: left; font-weight: 500;}
tbody td{ text-align: center;  }
tbody td{ padding: 0; }

.item__prefixo      {font-size: 0.6rem; font-weight: bold;}
.item__fila         {font-size: 0.2rem; font-weight: bold;}

.linha__total       { background-color: var(--azul-profundo-m); color: white; font-size: 1rem; padding: 5px; text-align: center; font-weight: bold; transition: 0.3s; cursor: pointer;}
.linha__total:hover { background-color: var(--azul-profundo-e); }

.item__restricao    {font-size: 0.2rem; font-weight: bold; border-bottom: 1px lightgray solid; padding: 1px }
.restricao          {background-color: darkred; color: darkred;}



.vazio          { background-color: white; color: white}
.cinza          { background-color: var(--cinza-chumbo-e);      color: var(--cinza-chumbo-e)    ;}
.item-verde     { background-color: var(--verde-floresta-m);    color: var(--verde-floresta-m)  ;}
.item-amarelo   { background-color: var(--amarelo-ouro-m);      color: var(--amarelo-ouro-m)    ;}

.TERMINAL           {border: 1px solid lightgray; padding: 0 4px; cursor: pointer; transition: 0.3s;}
.TERMINAL:hover     {background-color: #79797b; color:white; font-weight: bold; padding: 0 4px}

.MARGEM     {border: 1px solid lightgray; padding: 0 5px }

tbody           { background-color: rgb(247, 242, 242);}
.item-branco    { background-color: rgb(247, 242, 242); color:  rgb(247, 242, 242);}


.coluna__total  {background-color: var(--cinza-chumbo-c); color: var(--cinza-chumbo-e); border: 1px solid var(--cinza-chumbo-m); font-weight: bold; padding: 6px}


.coluna-indicador {background-color: #ebf1f3; border: 1px solid #d2dbdf; font-weight: bold; color: var(--cinza-chumbo-e)}

.OPORTINIDADE_COLUNA, .OCIOSIDADE_COLUNA, .PRODUTIVIDADE_COLUNA{position: relative; background-color: white; border: 1px solid lightgray; font-weight: bold;}

.PRODUTIVIDADE_COLUNA:hover::after,
.OCIOSIDADE_COLUNA:hover::after       {
        content: attr(title);
        background-color: #333;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
}

.cor-vermelha{color: red}
.cor-verde{color: var(--verde-floresta-m)}

.linha__total__margens {background-color: rgb(247, 242, 242); color: black; font-size: 1rem; padding: 5px; text-align: left; font-weight: bold; border: 1px solid lightgray;}
.pula__linha{ background-color: white; color: white;}
/*---------------------------------------------------TABS---------------------------------------------------*/

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    min-width: 70px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  #MODAL_DESCARGA{
    overflow: auto !important;
  }

  /*---------------------------------------------------TABS---------------------------------------------------*/ 



  #tabela__legenda{
    background-color: white;
    margin-top: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 
    0 1px 2px rgba(0,0,0,0.24);
  }

  #tabela__legenda tbody td,
  #tabela__legenda thead th,
  #tabela__legenda tbody td{
    
    text-align: left;
    border: 1px solid rgb(196, 194, 194);
  }
  #tabela__legenda tbody tr td:nth-child(1) {padding: 0px 20px ;}
  #tabela__legenda thead th,
  #tabela__legenda tbody tr td:nth-child(2){background-color: rgb(244, 244, 244); padding: 5px 10; color: var(--cinza-chumbo-e);}





.celula_vazia{ border: none !important; background-color: white;}