{% load static %}
{% load permission_tags %}
{% if request.path != '/accounts/login/' and request.user.is_authenticated %}   

<link   rel="stylesheet" type="text/css" href="{% static 'css/header/header.css' %}"> 
<link   rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">

<script src="{% static 'javascript/header/main.js' %}"     defer></script>

<header class="header">
    
    <button class="navbar-toggle" id="navbar-toggle">
      ☰
    </button>

    <img src="{% static 'imagens/logo-fips-horizontal.png' %}" class="header__logo">
  
    <nav id="nav__menu__principal" class="nav__menu__principal">
      
        <ul class="menu__principal">
        <li class="item__do__menu"><a href="{% url 'restricao' %}"> Restrições </a></li>
        <li class="item__do__menu"><a> Previsão   </a>
          
            <ul class="submenu"> 
                <li class="submenu-lista"><a href="{% url 'previsao_164' %}" class="subitem">   Nitro        </a></li>
                <li class="submenu-lista"><a href="{% url 'previsao_trens' %}" class="subitem"> Criar Trem   </a></li>
            </ul>

        </li>
        <li class="item__do__menu"><a href="{% url 'navegacao' %}">  Terminais   </a></li>
        <li class="item__do__menu"><a>  Relatórios  </a>
          
          <ul class="submenu">
            <li class="submenu-lista"><a class="subitem"  href="{% url 'detalhe' %}"            >Detalhe   </a></li>
            <li class="submenu-lista"><a class="subitem"  href="{% url 'ocupacao_terminais' %}" >Ocupação  </a></li>
          </ul>

        </li>

        <li class="item__do__menu"><a>  Operação  </a>
          
          <ul class="submenu">
            
            <li class="submenu-lista"><a class="subitem"  href="{% url 'previsao_subida' %}">     Previsão de Subida    </a></li>
            <li class="submenu-lista"><a class="subitem"  href="{% url 'programacao_subida' %}">  Programação de Subida </a></li>

          </ul>

        </li>

      </ul>
    </nav>

    <div class="bloco__do__usuario" id="bloco__do__usuario" onclick="toggleList()">
        <div class="nome__do__usuario">
          <label  class="primeiro__nome"  >{{ user.first_name }}</label>
          <label  class="sobremnoe"       >{{ user.last_name }} </label>
        </div>  
        {% if user.foto %}
            <img class="usuario-foto" src="{{ user.foto.url }}" alt="Foto de usuário">
        {% else %}
            <img class="usuario-foto" src="URL_DA_IMAGEM_PADRAO" alt="Foto de usuário">
        {% endif %}
    </div>

</header>

<ul id="menu__usuario" class="menu__usuario hidden">
  
    <li><a class="menu__usuario__ancora" href="{% url 'profile' %}" >Minha conta           </a></li>

    <li><a class="menu__usuario__ancora" href="{% url 'terminais_list' %}" >Terminais             </a></li>
    <li><a class="menu__usuario__ancora" href="{% url 'configuracao' %}" >  Configurações         </a></li>


    {% if user|can:'editar_itens' or user|can:'editar_subida' %}
    <li><a class="menu__usuario__ancora" href="" >Criar Novo usuário    </a></li>
    <li><a class="menu__usuario__ancora" href="" >Ver todos os usuários </a></li>
    
    {% endif %}



    <li><form id="logout-form" action="{% url 'logout' %}" method="post">
      
      {% csrf_token %}
      <a class="menu__usuario__ancora" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Sair</a>
  
  </form></li>
    
</ul>

{% endif %}