@font-face {
    font-family: 'Saira Expanded Regular';
    src:url('../fonts/Saira/static/Saira_Expanded-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Saira Expanded Bold';
    src:url('../fonts/Saira/static/Saira_Expanded-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}
body{
    font-family: 'Saira Expanded', Arial, sans-serif; 
    background-image: url('../imagens/background-login.jpeg');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o corpo */
    background-repeat: no-repeat; 
    margin: 0;
    user-select: none;

    font-size: 1.2rem;
}

.container{
    position: absolute;
    background-color: rgba(64, 64, 64, 0.4);
    backdrop-filter: blur(10px);
    height: 100%;
    right: 0px;
    width: 30vw;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 
    0 1px 2px rgba(0,0,0,0.24);

    text-align: center;
    flex-direction: row;
    align-items: center;
}

.logo__fips img {height: 11vh;  margin-top: 11vh; margin-bottom: 4vh;}

/*#region FORM DO LOGIN*/
.login__area{
    color:white;
    margin: 0 auto;
    background-color: rgba(35, 35, 35, 0.326);
    width: 25vw;
    padding: 10px;
    border-radius: 0.3vw;
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 
    0 1px 2px rgba(0,0,0,0.24);


}


h2{ margin: 0px}
p{margin-left: 5vw;  width: 15vw; margin-top: 0px}
.form__login{
    display: table; 

    margin: 0 auto; 
} 

.form__email__linha,
.form__senha__linha{        display: table-row; font-family: 'Saira Expanded', Arial, Helvetica, 'Century Gothic';}

.form__email__linha label,
.form__senha__linha label{text-align: left; padding-right: 1vw; }


.form__email__linha input,
.form__senha__linha input{height: 1.3rem; }

.form__email__linha label,
.form__email__linha input,
.form__senha__linha label,
.form__senha__linha input{display: table-cell;}

.form__input_entrar{ margin-left: 100%;}

.mensagem__erro{color: rgb(255, 170, 170); font-size: 0.9rem;}

.botao {

    margin-top: 2vh;

    font-family: 'Saira Expanded', Arial, sans-serif;
    font-weight: 600;
    background-color: #FFFF;
    border: none;
    color: #333B41;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   
    border-radius: 4px;
    cursor: pointer;
  
}

.botao:hover {cursor:  pointer;background-color: #7B8C96;}

/*#endregion*/


@media screen and (orientation: portrait) {
    .container{
        position: absolute;
        width:     100vw;
        height:     97vh;
        margin-top:  0;  
        display:    block;
        overflow-x: auto;
    }
    p { display: none}
    .login__area{

        width:     90vw;
    }
    
  
    
}