body{user-select: none;}
.tbl-prev-subida        { 
    
    border-collapse: collapse;
    text-align:      center; 
    overflow:        hidden;
    box-shadow:      0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius:   7px;
    font-size: 0.8rem;
}

h2  { margin-top: 20px;}

.tbl-prev-subida thead  { background-color: var(--azul-profundo-m); color: white; height: 2.5rem; padding: 0.5rem 0;}

.tbl-prev-subida td,
.tbl-prev-subida th     {padding: 5px 1rem }

.tbl-prev-subida tbody td:nth-child(11),
.tbl-prev-subida tbody td:nth-child(12),
.tbl-prev-subida tbody td:nth-child(13),
.tbl-prev-subida tbody td:nth-child(14),
.tbl-prev-subida tbody td:nth-child(15){min-width: 50px;}

.tbl-prev-subida tbody tr:nth-child(even)        { background-color: #f2f2f2; }
.tbl-prev-subida tbody tr:nth-child(odd)         { background-color: #ffff;   }

.tbl-prev-subida tbody tr:nth-child(even):hover  { background-color: #c1d5d4; }
.tbl-prev-subida tbody tr:nth-child(odd):hover   { background-color: #c1d5d4; }

.icone-excluir{ 

    height:     1.5rem; 
    cursor:     pointer; 
    fill:       var(--cinza-chumbo-c);     
    padding:    0 0.5rem;

}

.icone-excluir:hover{fill: darkred;}

.SEM_NAVEGACAO{

    height: fit-content;
    margin: auto;
    text-align: center;
}

.SEM_NAVEGACAO img{
    
    width: 20%;
}

.LARANJA {margin-top: 15px;}




dialog h2 {margin: 0;}

dialog .fst-trem-locomotivas input {width: 6rem;}

dialog #id_prefixo {width: 6rem;}

dialog fieldset div {display: flex;}



dialog fieldset table             { border-collapse: collapse; border: 2px solid rgb(0, 103, 188);}
dialog fieldset table input       { width: 4rem; }

dialog fieldset table thead th    { background-color: rgb(0, 103, 188); color: white;padding: 5px 10px; text-align: left; }
dialog fieldset table tbody th    { padding: 0 30px 0 10px; background-color: rgb(0, 176, 240); color: white; font-weight: 300; text-align: left;transition: 0.3s; cursor: pointer;}

dialog fieldset table tbody th,
dialog fieldset table tbody td    { border-bottom: 1px rgb(223, 222, 222) solid ;border-right: 1px rgb(223, 222, 222) solid ; } 


dialog fieldset table tbody .valor_vagoes { padding: 0 20px; text-align: center; }

 
dialog .fst-trem-vagoes             { display: flex;}
dialog .tbl_vagoes_disponiveis      { margin-left: 15px;}
dialog .tbl_vagoes_disponiveis td   { min-width: 50px; text-align: center;}

dialog fieldset table tbody  th:hover    { background-color: rgb(1, 124, 226); }
.segmento-selecionado                    { background-color: rgb(1, 124, 226); }

.hora_selecionada                        { background-color: rgb(182 255 188); color: green; }


fieldset {
    font-family: "Saira Expanded", Arial, sans-serif;
    border: 1px solid #868686; /* Cor da borda */
    border-radius: 3px; /* Bordas arredondadas */
}


.VERDE {margin-top: 10px; right: 0px;}