
@font-face {
    font-family: 'Saira Expanded Regular';
    src:url('../../fonts/Saira/static/Saira_Expanded-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Saira Expanded Bold';
    src:url('../../fonts/Saira/static/Saira_Expanded-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/Open Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

:root {
    /*PRIMÁRIAS*/
    --azul-profundo-e: #002A68;
    --azul-profundo-m: #004B9B;
    --azul-profundo-c: #658EC9;
    
    --cinza-chumbo-e: #333B41;
    --cinza-chumbo-m: #7B8C96;
    --cinza-chumbo-c: #C0CCD2;

    /*SECUNDÁRIAS*/
    --azul-ceu-e: #0090D0;
    --azul-ceu-m: #93BDE4;
    --azul-ceu-c: #D3E3F4;

    --verde-floresta-e: #00904C;
    --verde-floresta-m: #00C64C;
    --verde-floresta-c: #8BE5AD;

    --amarelo-ouro-e: #F6921E;
    --amarelo-ouro-m: #FDC24E;
    --amarelo-ouro-c: #FFE4B8;
    
    --neutro: #E8EBFF;
}

body{
    font-family: "Open Sans";
    margin: 0 auto;
}

header{
    font-weight: 300;
    font-family: "Saira Expanded Regular";
    position: absolute;
    background-color: #004B9B;
    width: 100%;
    height: 9vh;
    color:white;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow:    0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow:         0 3px 5px rgba(57, 63, 72, 0.3); 
}

/*#region LOGOTIPO*/
.header__logo{
    align-self: center;
    height: 7vh;
    margin-left: 1vw;
    margin-top: 1.3vh;    
    float: left;
    width: 10vw;
}

.header__logo img {

    align-self: center; /* Isso impede que a imagem se estique */
}

/*#endregion*/

/*#region MENU NAVEGADOR*/
.nav__menu__principal{
    
    height: 100%;
    position: absolute;
    margin-left: 13vw;

}

.menu__principal{
    margin: 0;
    padding: 0px; 
    display: flex;
    height: 100%;
}

.item__do__menu a{
    text-align: center; 
    color:white;   
    width: 9vw;
}

.item__do__menu{   
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;

    list-style: none;
    margin-left: 2vw;
    font-size: 2.5vh;
    font-weight: 400;
    margin: 0;
    transition: background-color 0.5s ease;   
    width: 9vw;
    padding: 0;
}

.item__do__menu:hover{
    cursor: pointer;
    background-color: #002A68;
    font-weight: 400;
}
/*ISSO QUE FAZ O SUBMENU DESCER*/
ul.menu__principal li:hover ul.submenu {
    z-index: 200;
    display: block;
    background-color: black;
}

/*#region SUBMENU*/
.item__do_menu a { 
    width: 100%;
    text-align: center;
    color: white;
}

.submenu-lista{  
    list-style: none;
    width: 9vw;
    font-size: 2vh;
    font-weight: 400;
    margin: 0;
    transition: background-color 0.5s ease;   
}
.submenu-lista:hover{

    cursor: pointer;
    background-color: #080808;
    
}
ul.submenu {
    display: none;
    position: absolute;
    background-color: #2b2b2b;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0px;
    top: 9vh;

}
    
ul.submenu li {
    z-index: 100;
    height: 4vh;
    float: none;
    background-color: #2b2b2b;
}

.regiao__usuario{

    display: flex;
    flex-direction: row;
    align-items: center;
    float:      right;
    width:      16vw;
    height:     100%;
    display:    flex;
    transition: background-color 0.5s ease; 
}
/*#endregion*/

/*#endregion*/

/*#region BLOCO USUARIO*/

.bloco__do__usuario{

    display: flex;
    flex-direction: row;
    align-items: center;
    float:      right;
    width:      13vw;
    height:     100%;
    display:    flex;
    transition: background-color 0.5s ease; 
}

.bloco__do__usuario:hover{
    cursor: pointer;
    background-color: #012441;
}

.usuario-foto{

    cursor: pointer;
    
    border: 2px;
    height: 3vw;
    width: 3vw;
    border-radius: 100%;
    background: darkgray;
    padding: 3px;  
    margin-left: 1vw; 
}
.nome__do__usuario{
    margin-left: 1vw;
    font-size: 1vw;
    width: 7vw;
}

/*#endregion*/

/*#region MENU DO USUÁRIO*/

.menu__usuario li {

    list-style-type: none;
    border-bottom: 1px solid rgb(179, 179, 179); 
    font-family: "Saira Expanded Regular"; 
    font-weight: 400;
    width: 13vw;
    
    transition: background-color 0.5s ease;
}

.menu__usuario li:hover {
    background-color: rgb(172, 172, 172);
    cursor: pointer ;
    font-weight: 600;
}

.menu__usuario__ancora{ 
    display: inline-block;
    color: black;
    text-decoration: none; 
    padding: 0.9vh 0.4vw;
    width: 12vw;
}

.hidden {
    display: none;
}
  
.visible {
    
    overflow: hidden;
    transition: height 0.3s;

    padding: 0px;
    background-color: rgb(252, 252, 252);
    position: absolute;
    float: left;
    height: auto;
    margin-top: 9vh;
    right: 5px;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow:    0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow:         0 3px 5px rgba(57, 63, 72, 0.3);
    z-index: 100;
}

/*#endregion*/